In [1]:
import pandas as pd

Read in federal level data

In [2]:
fiscal = pd.read_sas('../../data/fiscal2018', format = 'sas7bdat', encoding='iso-8859-1')

In [3]:
fiscal

,LEAID,CENSUSID,FIPST,CONUM,CSA,CBSA,NAME,STNAME,STABBR,SCHLEV,...,FL_66V,FL_W01,FL_W31,FL_W61,FL_V95,FL_V02,FL_K14,FL_CE1,FL_CE2,FL_CE3
0,0100002,N,01,01073,142,13820,Alabama Youth Services,Alabama,AL,N,...,M,M,M,M,M,M,M,M,M,M
1,0100005,01504840100000,01,01095,290,10700,Albertville City,Alabama,AL,03,...,M,R,R,R,R,M,M,M,M,M
2,0100006,01504800100000,01,01095,290,10700,Marshall County,Alabama,AL,03,...,M,R,R,R,R,M,M,M,M,M
3,0100007,01503740100000,01,01073,142,13820,Hoover City,Alabama,AL,03,...,M,R,R,R,R,M,M,M,M,M
4,0100008,01504530100000,01,01089,290,26620,Madison City,Alabama,AL,03,...,M,R,R,R,R,M,M,M,M,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18710,5680252,N,56,56005,N,23940,Youth Emergency Services Inc. - Administration...,Wyoming,WY,02,...,N,N,N,N,N,N,N,N,N,N
18711,5680253,N,56,56025,N,16220,Wyoming Behavioral Institute - Administration ...,Wyoming,WY,03,...,N,N,N,N,N,N,N,N,N,N
18712,5680254,N,56,56013,N,40180,Saint Stephen's Indian School Admin Office,Wyoming,WY,03,...,N,N,N,N,N,N,N,N,N,N
18713,5680255,N,56,32005,456,23820,Right of Passage,Wyoming,WY,02,...,N,N,N,N,N,N,N,N,N,N
18714,5680256,N,56,56029,N,N,Northwest Wyoming Treatment Center,Wyoming,WY,N,...,N,N,N,N,N,N,N,N,N,N

Generate list of districts in the state in the federal data

In [4]:
fiscal_AR = fiscal[(fiscal['STNAME'] == 'Arkansas') & (fiscal['GSHI'] == '12')]

In [6]:
len(fiscal_AR)

267

Read in state level data

In [7]:
AR = pd.read_excel('../../data/state_data_raw/arkansas2018.xlsx', sheet_name='2018 Four Year District')

In [8]:
AR.head()

,LEA,District_Name,Overall Actual Grad,Overall Expected Grad,Overall Graduation Rate,Male Actual Grad,Male Expected Grad,Male Graduation Rate,Female Actual Grad,Female Expected Grad,...,Homeless Overall Grad Rate,Military_Dependent Actual Grad,Military_Dependent Expected Grad,Military_Dependent Overall Grad Rate,Gifted_Talented Actual Grad,Gifted_Talented Expected Grad,Gifted_Talented Overall Grad Rate,Foster Actual Grad,Foster Expected Grad,Foster Overall Grad Rate
0,101000,DEWITT SCHOOL DISTRICT,RV,RV,>95%,RV,RV,93.18%,RV,RV,...,N<10,NaN,0,NaN,RV,RV,>95%,N<10,N<10,N<10
1,104000,STUTTGART SCHOOL DISTRICT,97,113,85.84%,47,58,81.03%,RV,RV,...,N<10,N<10,N<10,N<10,RV,RV,>95%,NaN,0,NaN
2,201000,CROSSETT SCHOOL DISTRICT,116,131,88.55%,RV,RV,92.96%,50,60,...,NaN,NaN,0,NaN,RV,RV,>95%,NaN,0,NaN
3,203000,HAMBURG SCHOOL DISTRICT,RV,RV,93.38%,RV,RV,89.61%,RV,RV,...,N<10,NaN,0,NaN,RV,RV,94.74%,NaN,0,NaN
4,302000,COTTER SCHOOL DISTRICT,RV,RV,>95%,RV,RV,95.00%,RV,RV,...,N<10,NaN,0,NaN,N<10,N<10,N<10,N<10,N<10,N<10

In [9]:
len(AR)

251

Check for non-matches in the two lists

In [16]:
len([name for name in list(AR['District_Name']) if name in list(fiscal_AR['NAME'])])

221

In [24]:
fiscal_AR.loc[:]['NAME'] = list(fiscal_AR['NAME'])
AR.loc[:]['District_Name'] = list(AR['District_Name'])

In [25]:
fiscal_AR.loc[:]['NAME'] = fiscal_AR['NAME'].astype(str).str.replace('DIST\.', 'DISTRICT')
fiscal_AR.loc[:]['NAME'] = fiscal_AR['NAME'].astype(str).str.replace('SCH\.', 'SCHOOL')
fiscal_AR.loc[:]['NAME'] = fiscal_AR['NAME'].astype(str).str.replace(' CHARTER', '')
fiscal_AR.loc[:]['NAME'] = fiscal_AR['NAME'].astype(str).str.replace('CO\.', 'COUNTY')
fiscal_AR.loc[:]['NAME'] = fiscal_AR['NAME'].astype(str).str.replace('S\.', 'SOUTH')
fiscal_AR.loc[:]['NAME'] = fiscal_AR['NAME'].astype(str).str.replace('N\.', 'NORTH')

AR.loc[:]['District_Name'] = AR['District_Name'].astype(str).str.replace('DIST\.', 'DISTRICT')
AR.loc[:]['District_Name'] = AR['District_Name'].astype(str).str.replace('SCH\.', 'SCHOOL')
AR.loc[:]['District_Name'] = AR['District_Name'].astype(str).str.replace(' CHARTER', '')
AR.loc[:]['District_Name'] = AR['District_Name'].astype(str).str.replace('S\.', 'SOUTH')
AR.loc[:]['District_Name'] = AR['District_Name'].astype(str).str.replace('N\.', 'NORTH')

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version.

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  if __name__ == '__main__':
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  # This is added back by InteractiveShellApp.init_path()
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  if sys.path[0] == '':

In [26]:
A = [name for name in list(AR['District_Name']) if name not in list(fiscal_AR['NAME'])]
A.sort()
A

['ACADEMICS PLUS SCHOOL DISTRICT',
 'ARKANSAS ARTS ACADEMY',
 'DIVISION OF YOUTH SERVICES SCHOOL SYSTEM',
 'EAST POINSETT CO. SCHOOL DISTRICT',
 'EMERSON-TAYLOR-BRADLEY SCHOOL DISTRICT',
 'ESTEM PUBLIC SCHOOL',
 'HARMONY GROVE SCH DIST(SALINE)',
 'HARMONY GROVE SCHOOL DISTRICT (OUACHITA)',
 'HELENA/ WEST HELENA SCHOOL DISTRICT',
 'HUGHES SCHOOL DISTRICT',
 'IZARD COUNTY CONSOLIDATED SCHOOL DISTRICT',
 'JACKSON CO. SCHOOL DISTRICT',
 'LAKESIDE SCHOOL DIST(CHICOT)',
 'LAKESIDE SCHOOL DIST(GARLAND)',
 'MARVELL-ELAINE SCHOOL DISTRICT',
 'MULBERRY/PLEASANT VIEW BI-COUNTY SCHOOLS',
 'PULASKI COUNTY SPECIAL SCHOOL DISTRICT',
 'RESPONSIVE ED SOLUTIONS NORTHWEST ARK CLASSICAL AC',
 'RESPONSIVE ED SOLUTIONS PREMIER HIGH SCHOOL OF LIT',
 'RIVERCREST SCHOOL DISTRICT 57',
 'SMACKOVER-NORPHLET SCHOOL DISTRICT',
 'SOUTH CONWAY COUNTY SCHOOL DISTRICT',
 'SOUTH SIDE SCHOOL DISTRICT(VANBUREN)',
 'SOUTHSIDE SCHOOL DISTRICT (INDEPENDENCE)',
 'WEST SIDE SCHOOL DIST(CLEBURNE)',
 'WESTERN YELL CO. SCHOOL DISTRICT',
 'WESTSIDE CONSOUTH SCH DIST(CRAIGH',
 'WESTSIDE SCHOOL DIST(JOHNSON)',
 'WHITE CO. CENTRAL SCHOOL DISTRICT',
 'YELLVILLE-SUMMIT SCHOOL DISTRICT.']

In [27]:
B = [name for name in list(fiscal_AR['NAME']) if name not in list(AR['District_Name'])]
B.sort()
B

['ACADEMICS PLUS SCHOOL',
 'ARK. RIVER EDUC  SERVICE COOP',
 'ARKANSAS CORRECTIONAL SCHOOLS',
 'ARKANSAS NORTHEASTERN COLLEGE TECHNICAL CENTER',
 'ARKANSAS YOUTH SERVICES SCHOOL SYSTEM',
 'ASU AREA CENTER',
 'BENTON COUNTY SCHOOL OF ARTS',
 'DEQUEEN/MENA EDUC. COOP',
 'DHS DIVISION OF DEVELOPMENTAL DISABILITIES SERVICES',
 'EAST ARKANSAS CAREER CENTER',
 'EAST POINSETT COUNTY SCHOOL DISTRICT',
 'EMERSON-TAYLOR SCHOOL DISTRICT',
 'ESTEM HIGH',
 'HARMONY GROVE SCHOOL DISTRICT',
 'HARMONY GROVE SCHOOL DISTRICT',
 'HELENA/ W.HELENA SCHOOL DISTRICT',
 'IZARD COUNTY CONSOUTH SCHOOL DISTRICT',
 'JACKSON COUNTY SCHOOL DISTRICT',
 'LAKESIDE SCHOOL DISTRICT',
 'LAKESIDE SCHOOL DISTRICT (CHICOT COUNTY)',
 'MARVELL SCHOOL DISTRICT',
 'MID SOUTH COMMUNITY COLLEGE',
 'MULBERRY SCHOOL DISTRICT',
 'NATIONAL PARK TECHNOLOGY CENTER',
 'NORTH ARKANSAS COLLEGE SECONDARY CENTER',
 'NORTHWEST ARKANSAS COMMUNITY COLLEGE REGIONAL CENTER',
 'OUACHITA VOCATIONAL CENTER',
 'PHILLIPS COMMUNITY COLLEGE CAREER & TECHNICAL CENTER',
 'PULASKI COUNTY SPEC. SCHOOL DISTRICT',
 'RESPONSIVE ED SOLUTIONS NORTHWEST ARK CLASSICAL ACADEMY',
 'RESPONSIVE ED SOLUTIONS PREMIER HIGH SCHOOL OF LITTLE ROCK',
 'RIVERCREST SCHOOL DISTRICT #57',
 'SALINE COUNTY VOCATIONAL CENTER',
 'SAU-TECH CAREER CENTER',
 'SMACKOVER SCHOOL DISTRICT',
 'SO. CONWAY COUNTY SCHOOL DISTRICT',
 'SOUTH ARK CAREER CENTER',
 'SOUTH SIDE SCHOOL DISTRICT',
 'SOUTHSIDE SCHOOL DISTRICT',
 'WEST SIDE SCHOOL DISTRICT',
 'WESTARK TECHNICAL CENTER',
 'WESTERN YELL COUNTY SCHOOL DISTRICT',
 'WESTSIDE CONSOUTH SCHOOL DISTRICT',
 'WESTSIDE SCHOOL DISTRICT',
 'WHITE COUNTY CENTRAL SCHOOL DISTRICT',
 'YELLVILLE-SUMMIT SCHOOL DISTRICT']

In [28]:
AR_fiscal_rename = {
 'ACADEMICS PLUS SCHOOL' : 'ACADEMICS PLUS SCHOOL DISTRICT',
 #'ARK. RIVER EDUC  SERVICE COOP',
 #'ARKANSAS CORRECTIONAL SCHOOLS',
 #'ARKANSAS NORTHEASTERN COLLEGE TECHNICAL CENTER',
 #'ARKANSAS YOUTH SERVICES SCHOOL SYSTEM',
 #'ASU AREA CENTER',
 #'BENTON COUNTY SCHOOL OF ARTS',
 #'DEQUEEN/MENA EDUC. COOP',
 #'DHS DIVISION OF DEVELOPMENTAL DISABILITIES SERVICES',
 #'EAST ARKANSAS CAREER CENTER',
 'EAST POINSETT COUNTY SCHOOL DISTRICT' : 'EAST POINSETT CO. SCHOOL DISTRICT',
 'EMERSON-TAYLOR SCHOOL DISTRICT' : 'EMERSON-TAYLOR-BRADLEY SCHOOL DISTRICT',
 'ESTEM HIGH' : 'ESTEM PUBLIC SCHOOL',
 ##'HARMONY GROVE SCHOOL DISTRICT',
 ##'HARMONY GROVE SCHOOL DISTRICT',
 'HELENA/ W.HELENA SCHOOL DISTRICT' : 'HELENA/ WEST HELENA SCHOOL DISTRICT',
 'IZARD COUNTY CONSOUTH SCHOOL DISTRICT' : 'IZARD COUNTY CONSOLIDATED SCHOOL DISTRICT',
 'JACKSON COUNTY SCHOOL DISTRICT' : 'JACKSON CO. SCHOOL DISTRICT',
 'LAKESIDE SCHOOL DISTRICT' : 'LAKESIDE SCHOOL DIST(GARLAND)',
 'LAKESIDE SCHOOL DISTRICT (CHICOT COUNTY)' : 'LAKESIDE SCHOOL DIST(CHICOT)',
 'MARVELL SCHOOL DISTRICT' : 'MARVELL-ELAINE SCHOOL DISTRICT',
 #'MID SOUTH COMMUNITY COLLEGE',
 'MULBERRY SCHOOL DISTRICT' : 'MULBERRY/PLEASANT VIEW BI-COUNTY SCHOOLS',
 #'NATIONAL PARK TECHNOLOGY CENTER',
 #'NORTH ARKANSAS COLLEGE SECONDARY CENTER',
 #'NORTHWEST ARKANSAS COMMUNITY COLLEGE REGIONAL CENTER',
 #'OUACHITA VOCATIONAL CENTER',
 #'PHILLIPS COMMUNITY COLLEGE CAREER & TECHNICAL CENTER',
 'PULASKI COUNTY SPEC. SCHOOL DISTRICT' : 'PULASKI COUNTY SPECIAL SCHOOL DISTRICT',
 'RESPONSIVE ED SOLUTIONS NORTHWEST ARK CLASSICAL ACADEMY' : 'RESPONSIVE ED SOLUTIONS NORTHWEST ARK CLASSICAL AC',
 'RESPONSIVE ED SOLUTIONS PREMIER HIGH SCHOOL OF LITTLE ROCK' : 'RESPONSIVE ED SOLUTIONS PREMIER HIGH SCHOOL OF LIT',
 'RIVERCREST SCHOOL DISTRICT #57' : 'RIVERCREST SCHOOL DISTRICT 57',
 #'SALINE COUNTY VOCATIONAL CENTER',
 #'SAU-TECH CAREER CENTER',
 'SMACKOVER SCHOOL DISTRICT' : 'SMACKOVER-NORPHLET SCHOOL DISTRICT',
 'SO. CONWAY COUNTY SCHOOL DISTRICT' : 'SOUTH CONWAY COUNTY SCHOOL DISTRICT',
 #'SOUTH ARK CAREER CENTER',
 'SOUTH SIDE SCHOOL DISTRICT' : 'SOUTH SIDE SCHOOL DISTRICT(VANBUREN)',
 'SOUTHSIDE SCHOOL DISTRICT' : 'SOUTHSIDE SCHOOL DISTRICT (INDEPENDENCE)',
 'WEST SIDE SCHOOL DISTRICT' : 'WEST SIDE SCHOOL DIST(CLEBURNE)',
 #'WESTARK TECHNICAL CENTER',
 'WESTERN YELL COUNTY SCHOOL DISTRICT' : 'WESTERN YELL CO. SCHOOL DISTRICT',
 'WESTSIDE CONSOUTH SCHOOL DISTRICT' : 'WESTSIDE CONSOUTH SCH DIST(CRAIGH',
 'WESTSIDE SCHOOL DISTRICT' : 'WESTSIDE SCHOOL DIST(JOHNSON)',
 'WHITE COUNTY CENTRAL SCHOOL DISTRICT' : 'WHITE CO. CENTRAL SCHOOL DISTRICT',
 'YELLVILLE-SUMMIT SCHOOL DISTRICT' : 'YELLVILLE-SUMMIT SCHOOL DISTRICT.'
}

In [29]:
fiscal_AR = fiscal_AR.replace(AR_fiscal_rename)

Examine data types and missing values.

In [30]:
AR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 59 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   LEA                                          251 non-null    int64
 1   District_Name                                251 non-null    object
 2   Overall Actual Grad                          251 non-null    object
 3   Overall Expected Grad                        251 non-null    object
 4   Overall Graduation Rate                      251 non-null    object
 5   Male Actual Grad                             251 non-null    object
 6   Male Expected Grad                           251 non-null    object
 7   Male Graduation Rate                         251 non-null    object
 8   Female Actual Grad                           250 non-null    object
 9   Female Expected Grad                         251 non-null    object
 10  Female Graduation Rate                       250 non-null    object
 11  Hispanic Actual Grad                         209 non-null    object
 12  Hispanic Expected Grad                       251 non-null    object
 13  Hispanic Overall Grad Rate                   209 non-null    object
 14  Native American Actual Grad                  97 non-null     object
 15  Native American Expected Grad                251 non-null    object
 16  Native American Overall Grad Rate            97 non-null     object
 17  Asian Actual Grad                            106 non-null    object
 18  Asian Expected Grad                          251 non-null    object
 19  Asian Overall Grad Rate                      106 non-null    object
 20  African American Actual Grad                 181 non-null    object
 21  African American Expected Grad               251 non-null    object
 22  African American Overall Grad Rate           181 non-null    object
 23  Hawaiian/Pacific Islander Actual Grad        34 non-null     object
 24  Hawaiian/Pacific Islander Expected Grad      251 non-null    object
 25  Hawaiian/Pacific Islander Overall Grad Rate  34 non-null     object
 26  Caucasian Actual Grad                        249 non-null    object
 27  Caucasian Expected Grad                      251 non-null    object
 28  Caucasian Overall Grad Rate                  249 non-null    object
 29  Two or More Actual Grad                      135 non-null    object
 30  Two or More Expected Grad                    251 non-null    object
 31  Two or More Overall Grad Rate                135 non-null    object
 32  Economic Disadvantage Actual Grad            251 non-null    object
 33  Economic Disadvantage Expected Grad          251 non-null    object
 34  Economic Disadvantage Overall Grad Rate      251 non-null    object
 35  SPED Actual Grad                             249 non-null    object
 36  SPED Expected Grad                           251 non-null    object
 37  SPED Overall Grad Rate                       249 non-null    object
 38  Migrant Actual Grad                          117 non-null    object
 39  Migrant Expected Grad                        251 non-null    object
 40  Migrant Overall Grad Rate                    117 non-null    object
 41  LEP Actual Grad                              135 non-null    object
 42  LEP Expected Grad                            251 non-null    object
 43  LEP Overall Grad Rate                        135 non-null    object
 44  TAGG Actual Grad                             251 non-null    object
 45  TAGG Expected Grad                           251 non-null    object
 46  TAGG Overall Grad Rate                       251 non-null    object
 47  Homeless Actual Grad                         225 non-null    object
 48  Homeless Expected Grad                       251 non-null    object
 49  Homeless Overall Grad Rate                   225 non-null    object
 50  Military_Dependent Actual Grad               85 non-null     object
 51  Military_Dependent Expected Grad             251 non-null    object
 52  Military_Dependent Overall Grad Rate         85 non-null     object
 53  Gifted_Talented Actual Grad                  243 non-null    object
 54  Gifted_Talented Expected Grad                251 non-null    object
 55  Gifted_Talented Overall Grad Rate            243 non-null    object
 56  Foster Actual Grad                           90 non-null     object
 57  Foster Expected Grad                         251 non-null    object
 58  Foster Overall Grad Rate                     90 non-null     object
dtypes: int64(1), object(58)
memory usage: 115.8+ KB

In [31]:
AR = AR[['District_Name', 'Overall Expected Grad', 'Overall Graduation Rate']]
AR

,District_Name,Overall Expected Grad,Overall Graduation Rate
0,DEWITT SCHOOL DISTRICT,RV,>95%
1,STUTTGART SCHOOL DISTRICT,113,85.84%
2,CROSSETT SCHOOL DISTRICT,131,88.55%
3,HAMBURG SCHOOL DISTRICT,RV,93.38%
4,COTTER SCHOOL DISTRICT,RV,>95%
...,...,...,...
246,MCCRORY SCHOOL DISTRICT,RV,>95%
247,DANVILLE SCHOOL DISTRICT,RV,>95%
248,DARDANELLE SCHOOL DISTRICT,121,85.12%
249,WESTERN YELL CO. SCHOOL DISTRICT,RV,>95%
250,TWO RIVERS SCHOOL DISTRICT,49,75.51%

In [32]:
AR.columns = ['District Name', 'Total', 'Graduation Rate']

Change data types.

In [33]:
AR['Graduation Rate'] = AR['Graduation Rate'].astype(str).str.replace('>', '')
AR['Graduation Rate'] = AR['Graduation Rate'].astype(str).str.replace('%', '')
AR['Graduation Rate'] = AR['Graduation Rate'].astype(str).str.replace('N<10', '')

AR['Graduation Rate'] = pd.to_numeric(AR['Graduation Rate']) / 100

In [34]:
AR['Total'] = AR['Total'].astype(str).replace('RV', '')
AR['Total'] = AR['Total'].astype(str).str.replace('N<10', '')
AR['Total'] = pd.to_numeric(AR['Total'])

In [35]:
AR = AR.reset_index(drop=True)

In [36]:
AR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   District Name    251 non-null    object
 1   Total            88 non-null     float64
 2   Graduation Rate  249 non-null    float64
dtypes: float64(2), object(1)
memory usage: 6.0+ KB

Merge federal and state data, keeping only matches between the two.

In [37]:
AR_merged = pd.merge(fiscal_AR[fiscal_AR['STABBR'] == 'AR'], AR, how='inner', left_on='NAME', right_on='District Name')

In [38]:
AR_merged

,LEAID,CENSUSID,FIPST,CONUM,CSA,CBSA,NAME,STNAME,STABBR,SCHLEV,...,FL_W61,FL_V95,FL_V02,FL_K14,FL_CE1,FL_CE2,FL_CE3,District Name,Total,Graduation Rate
0,0500001,04500100200000,05,05001,N,N,DEWITT SCHOOL DISTRICT,Arkansas,AR,03,...,R,R,R,R,R,R,M,DEWITT SCHOOL DISTRICT,NaN,0.9500
1,0500006,04500600300000,05,05011,N,N,WARREN SCHOOL DISTRICT,Arkansas,AR,03,...,R,R,R,R,R,R,M,WARREN SCHOOL DISTRICT,128.0,0.8750
2,0500009,04501100100000,05,05021,N,N,CORNING SCHOOL DISTRICT,Arkansas,AR,03,...,R,R,R,R,R,R,M,CORNING SCHOOL DISTRICT,NaN,0.9500
3,0500012,04501600900000,05,05031,308,27860,RIVERSIDE SCHOOL DISTRICT,Arkansas,AR,03,...,R,R,R,R,R,R,M,RIVERSIDE SCHOOL DISTRICT,NaN,0.9500
4,0500015,04502700400000,05,05053,340,30780,SHERIDAN SCHOOL DISTRICT,Arkansas,AR,03,...,R,R,R,R,R,R,M,SHERIDAN SCHOOL DISTRICT,308.0,0.9318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,0514140,04503501100000,05,05069,340,38220,WHITE HALL SCHOOL DISTRICT,Arkansas,AR,03,...,R,R,R,R,R,R,M,WHITE HALL SCHOOL DISTRICT,254.0,0.8701
242,0514370,04501500600000,05,05029,N,N,WONDERVIEW SCHOOL DISTRICT,Arkansas,AR,03,...,R,R,R,R,R,R,M,WONDERVIEW SCHOOL DISTRICT,NaN,0.9500
243,0514400,04501300400000,05,05025,340,38220,WOODLAWN SCHOOL DISTRICT,Arkansas,AR,03,...,R,R,R,R,R,R,M,WOODLAWN SCHOOL DISTRICT,NaN,0.9143
244,0514430,04501900600000,05,05037,N,N,WYNNE SCHOOL DISTRICT,Arkansas,AR,03,...,R,R,R,R,R,R,M,WYNNE SCHOOL DISTRICT,201.0,0.9055
245,0514490,04504500300000,05,05089,N,N,YELLVILLE-SUMMIT SCHOOL DISTRICT.,Arkansas,AR,03,...,R,R,R,R,R,R,M,YELLVILLE-SUMMIT SCHOOL DISTRICT.,NaN,0.9500

Save cleaned data.

In [39]:
AR_merged.to_csv('../../data/state_data_merged/AR.csv', index=False)