In [23]:
import pandas as pd
import numpy as np

In [24]:
abbr = 'MD'

In [30]:
file = 'maryland2018.csv'

Read in federal level data

In [26]:
fiscal = pd.read_sas('../../data/fiscal2018', format = 'sas7bdat', encoding='iso-8859-1')

Generate list of districts in the state in the federal data

In [27]:
state_fiscal = fiscal[(fiscal['STABBR'] == abbr) & (fiscal['GSHI'] == '12')]

In [28]:
len(state_fiscal)

25

In [29]:
state_fiscal.head()

,LEAID,CENSUSID,FIPST,CONUM,CSA,CBSA,NAME,STNAME,STABBR,SCHLEV,...,FL_66V,FL_W01,FL_W31,FL_W61,FL_V95,FL_V02,FL_K14,FL_CE1,FL_CE2,FL_CE3
6333,2400027,N,24,24510,548,12580,SEED School of Maryland,Maryland,MD,03,...,N,N,N,N,N,N,N,N,N,N
6334,2400030,21100100130100,24,24001,N,19060,Allegany County Public Schools,Maryland,MD,03,...,R,R,R,R,R,R,R,R,R,M
6335,2400060,21100200230100,24,24003,548,12580,Anne Arundel County Public Schools,Maryland,MD,03,...,R,R,R,R,R,R,R,R,R,M
6336,2400090,21200400130100,24,24510,548,12580,Baltimore City Public Schools,Maryland,MD,03,...,R,R,R,R,R,R,R,R,R,M
6337,2400120,21100300330100,24,24005,548,12580,Baltimore County Public Schools,Maryland,MD,03,...,R,R,R,R,R,R,R,R,R,M

Read in state level data

In [33]:
state_grads = pd.read_csv('../../data/state_data_raw/' + file)

In [34]:
state_grads.head()

,Academic Year,LSS Number,LSS Name,School Number,School Name,Cohort,Grad Rate,Diplomas Earned,Adjusted Cohort Count,Create Date
0,2018,01,Allegany,0405,Fort Hill High,5-year adjusted cohort,82.80,154,186,20200117
1,2018,01,Allegany,0405,Fort Hill High,4-year adjusted cohort,82.61,152,184,20200117
2,2018,01,Allegany,0405,Fort Hill High,3-year adjusted cohort,<= 5.00,*,182,20200117
3,2018,01,Allegany,0601,Center for Career & Technical Education,5-year adjusted cohort,>= 95.00,*,123,20200117
4,2018,01,Allegany,0601,Center for Career & Technical Education,4-year adjusted cohort,92.86,117,126,20200117

Filter results.

In [35]:
state_grads = state_grads[(state_grads['School Number'] == 'A') &
                         (state_grads['Cohort'] == '4-year adjusted cohort')]

In [37]:
state_grads.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 13 to 867
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Academic Year          26 non-null     int64
 1   LSS Number             26 non-null     object
 2   LSS Name               26 non-null     object
 3   School Number          26 non-null     object
 4   School Name            26 non-null     object
 5   Cohort                 26 non-null     object
 6   Grad Rate              26 non-null     object
 7   Diplomas Earned        26 non-null     object
 8   Adjusted Cohort Count  26 non-null     object
 9   Create Date            26 non-null     int64
dtypes: int64(2), object(8)
memory usage: 2.2+ KB

Select and rename columns.

In [38]:
state_grads = state_grads[['LSS Name', 'Adjusted Cohort Count', 'Grad Rate']]

In [39]:
state_grads.columns = ['District Name', 'Total', 'Graduation Rate']

In [45]:
state_grads

          District Name  Total Graduation Rate
13             Allegany    687           90.39
70         Anne Arundel   5757           89.20
172    Baltimore County   7916           89.16
193             Calvert   1304           93.94
202            Caroline    389           88.69
..                  ...    ...             ...
723            Wicomico   1049           83.22
738           Worcester    482           92.53
858      Baltimore City   5195           72.18
864                SEED     34           88.24
867  All Public Schools  65089           87.12

[26 rows x 3 columns]

Convert data types.

In [48]:
state_grads['Graduation Rate'] = state_grads['Graduation Rate'].astype(str).str.replace('>= ', '')

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [49]:
state_grads['Total'] = pd.to_numeric(state_grads['Total'])
state_grads['Graduation Rate'] = pd.to_numeric(state_grads['Graduation Rate']) / 100

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Check for matches and non-matches in the two lists

In [57]:
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' County Public Schools', '')

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [58]:
Matches = [name for name in list(state_grads['District Name']) if name in list(state_fiscal['NAME'])]
Matches.sort()
Matches

['Allegany',
 'Anne Arundel',
 'Calvert',
 'Caroline',
 'Carroll',
 'Cecil',
 'Charles',
 'Dorchester',
 'Frederick',
 'Garrett',
 'Harford',
 'Howard',
 'Kent',
 'Montgomery',
 "Prince George's",
 "Queen Anne's",
 'Somerset',
 'Talbot',
 'Wicomico',
 'Worcester']

In [59]:
A = [name for name in list(state_grads['District Name']) if name not in list(state_fiscal['NAME'])]
A.sort()
A

['All Public Schools',
 'Baltimore City',
 'Baltimore County',
 'SEED',
 "Saint Mary's",
 'Washington']

In [60]:
B = [name for name in list(state_fiscal['NAME']) if name not in list(state_grads['District Name'])]
B.sort()
B

['Baltimore',
 'Baltimore City Public Schools',
 'SEED School of Maryland',
 "St. Mary's",
 'Washingtion']

Rename the remaining samples I can find matches for.

In [61]:
state_fiscal_rename = {
    'Baltimore' : 'Baltimore County',
    'Baltimore City Public Schools' : 'Baltimore City',
    'SEED School of Maryland' : 'SEED',
    "St. Mary's" : "Saint Mary's",
    'Washingtion' : 'Washington'
}

In [ ]:
stat

Merge federal and state data, keeping only matches between the two.

In [21]:
state_grads_merged = pd.merge(state_fiscal, state_grads, how='inner', left_on='NAME', right_on='District Name')

Save cleaned data.

In [22]:
state_grads_merged.to_csv('../../data/state_data_merged/' + abbr + '.csv', index=False)