In [37]:
import warnings
warnings.filterwarnings('ignore')

In [23]:
import pandas as pd
import numpy as np

In [24]:
abbr = 'NM'

In [25]:
file = 'new_mexico2018.xlsx'

Read in federal level data

In [26]:
fiscal = pd.read_sas('../../data/fiscal2018', format = 'sas7bdat', encoding='iso-8859-1')

Generate list of districts in the state in the federal data

In [27]:
state_fiscal = fiscal[(fiscal['STABBR'] == abbr) & (fiscal['GSHI'] == '12')]

In [28]:
len(state_fiscal)

122

Read in state level data

In [32]:
state_grads = pd.read_excel('../../data/state_data_raw/' + file, skiprows=30)

Reset columns.

In [33]:
state_grads

,Code,District,School,Group,Rate\n(%),Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,0,Statewide,All Schools,All Students,73.9,NaN,NaN,NaN,NaN,NaN,NaN
1,0,Statewide,All Schools,Female,77.2,NaN,NaN,NaN,NaN,NaN,NaN
2,0,Statewide,All Schools,Male,70.6,NaN,NaN,NaN,NaN,NaN,NaN
3,0,Statewide,All Schools,Caucasian,79.3,NaN,NaN,NaN,NaN,NaN,NaN
4,0,Statewide,All Schools,African American,69.2,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4149,567001,Las Montanas Charter,Las Montanas Charter,English Learners,29.9,NaN,NaN,NaN,NaN,NaN,NaN
4150,567001,Las Montanas Charter,Las Montanas Charter,Homeless,10.6,NaN,NaN,NaN,NaN,NaN,NaN
4151,567001,Las Montanas Charter,Las Montanas Charter,Non Hispanic,*,NaN,NaN,NaN,NaN,NaN,NaN
4152,567001,Las Montanas Charter,Las Montanas Charter,Foster Care,*,NaN,NaN,NaN,NaN,NaN,NaN
4153,567001,Las Montanas Charter,Las Montanas Charter,Migrant,*,NaN,NaN,NaN,NaN,NaN,NaN

Filter results.

In [34]:
state_grads = state_grads[(state_grads['School'] == 'Districtwide') &
                         (state_grads['Group'] == 'All Students')]

In [35]:
state_grads

,Code,District,School,Group,Rate\n(%),Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
16,1000,Albuquerque Public Schools,Districtwide,All Students,69.6,NaN,NaN,NaN,NaN,NaN,NaN
546,2000,Reserve Public Schools,Districtwide,All Students,93.9,NaN,NaN,NaN,NaN,NaN,NaN
566,3000,Quemado Independent Schools,Districtwide,All Students,79.2,NaN,NaN,NaN,NaN,NaN,NaN
582,4000,Roswell Independent Schools,Districtwide,All Students,68.5,NaN,NaN,NaN,NaN,NaN,NaN
657,5000,Hagerman Municipal Schools,Districtwide,All Students,82.4,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3460,86000,Los Lunas Public Schools,Districtwide,All Students,73.9,NaN,NaN,NaN,NaN,NaN,NaN
3522,87000,Belen Consolidated Schools,Districtwide,All Students,71.1,NaN,NaN,NaN,NaN,NaN,NaN
3566,88000,Grants-Cibola County Schools,Districtwide,All Students,62.4,NaN,NaN,NaN,NaN,NaN,NaN
3610,89000,Zuni Public Schools,Districtwide,All Students,73.2,NaN,NaN,NaN,NaN,NaN,NaN
3684,99000,Juvenile Justice,Districtwide,All Students,7.7,NaN,NaN,NaN,NaN,NaN,NaN

Select and rename columns.

In [38]:
state_grads['Total'] = np.full_like(state_grads['Group'], '')

In [39]:
state_grads = state_grads[['District', 'Total', 'Rate\n(%)']]

In [40]:
state_grads.columns = ['District Name', 'Total', 'Graduation Rate']

In [41]:
state_grads.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 16 to 3684
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   District Name    90 non-null     object
 1   Total            90 non-null     object
 2   Graduation Rate  90 non-null     object
dtypes: object(3)
memory usage: 2.8+ KB

Convert data types.

In [44]:
state_grads = state_grads.replace('*', '')

In [45]:
state_grads['Total'] = pd.to_numeric(state_grads['Total'])
state_grads['Graduation Rate'] = pd.to_numeric(state_grads['Graduation Rate']) / 100

Check for matches and non-matches in the two lists.

In [50]:
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.upper()
state_grads['District Name'] = state_grads['District Name'].astype(str).str.upper()

In [14]:
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' SCHOOL DISTRICT', '')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace('SCH DIST', 'SCHOOL DISTRICT')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' CS', ' CHARTER SCHOOL')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sHIGH\sSCHOOL$', '')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sSCHOOL$', '')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' PUBLIC SCHOOLS', '')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' CO ', ' COUNTY ')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' BORO', '')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' CITY', '')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace('TWP', 'TOWNSHIP')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sREG(\s|$)', ' REGIONAL ')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sTOWN$', '')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sTOWNSHIP$', '')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sBORO$', '')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sPUBLIC$', '')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace('H.S DIST.', '')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'^N\s', 'NORTH ')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'^W\s', 'WEST ')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace("â€™", "'")
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' REGIONAL', '')

state_grads['District Name'] = state_grads['District Name'].astype(str).str.strip()

state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' BOARD OF EDUCATION', '')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' VOCATIONAL TECHNICAL', ' VOCATIONAL')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' CITY', '')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' PUBLIC SCHOOLS', '')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' PUBLIC', '')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' SCHOOL DISTRICT', '')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sHIGH\sSCHOOL$', '')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sSCHOOL$', '')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sTOWNSHIP$', '')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sTOWN$', '')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sBOROUGH$', '')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sBORO$', '')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sDISTRICT$', '')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('VOCATIONAL AND TECHNICAL', 'VOCATIONAL')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('VOCATIONAL-TECHNICAL', 'VOCATIONAL')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('TECHNICAL', 'VOCATIONAL')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('INSTITUTE OF TECHNOLOGY', 'VOCATIONAL')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('SCHOOLS OF TECHNOLOGY', 'VOCATIONAL')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sHIGH$', '')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' REGIONAL', '')

state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.strip()

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  # This is added back by InteractiveShellApp.init_path()
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  if sys.path[0] == '':
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  del sys.path[0]
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:14: FutureWarning: The default value of regex will change from True to False in a future version.

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  from ipykernel import kernelapp as app
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  app.launch_new_instance()
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:17: FutureWarning: The default value of regex will change from True to False in a future version.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:18: FutureWarning: The default value of regex will change from True to False in a future version.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:30: FutureWarning: The default value of regex will change from True to False in a future version.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:31: FutureWarning: The default value of regex will change from True to False in a future version.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:32: FutureWarning: The default value of regex will change from True to False in a future version.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:33: FutureWarning: The default value of regex will change from True to False in a future version.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:34: FutureWarning: The default value of regex will change from True to False in a future version.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:35: FutureWarning: The default value of regex will change from True to False in a future version.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:36: FutureWarning: The default value of regex will change from True to False in a future version.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:42: FutureWarning: The default value of regex will change from True to False in a future version.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [51]:
matches = [name for name in list(state_grads['District Name']) if name in list(state_fiscal['NAME'])]
matches.sort()
len(matches)

88

In [52]:
A = [name for name in list(state_grads['District Name']) if name not in list(state_fiscal['NAME'])]
A.sort()
A

['JUVENILE JUSTICE', 'MESA VISTA CONSOLIDATED SCHOOLS']

In [53]:
B = [name for name in list(state_fiscal['NAME']) if name not in list(state_grads['District Name'])]
B.sort()
B

['ABQ SCHOOL OF EXCELLENCE',
 'ABQ SIGN LANGUAGE ACADEMY',
 'ACADEMY OF TRADES AND TECH',
 'ACE LEADERSHIP HIGH SCHOOL',
 'ALBUQUERQUE INSTITUTE OF MATH & SCIENCE',
 'ALDO LEOPOLD CHARTER',
 "ALMA D'ARTE CHARTER",
 'AMY BIEHL CHARTER HIGH SCHOOL',
 'ANTHONY CHARTER SCHOOL',
 'CESAR CHAVEZ COMMUNITY  SCHOOL',
 'COTTONWOOD CLASSICAL PREP',
 'ESTANCIA VALLEY CLASSICAL ACADEMY',
 'EXPLORE ACADEMY',
 'GILBERT L SENA CHARTER HS',
 'HEALTH LEADERSHIP HIGH SCHOOL',
 'LAS MONTANAS CHARTER',
 'MCCURDY CHARTER SCHOOL',
 'MEDIA ARTS COLLABORATIVE CHARTER',
 'MISSION ACHIEVEMENT AND SUCCESS',
 'MONTE DEL SOL CHARTER',
 'NEW AMERICA SCHOOL',
 'NEW AMERICA SCHOOL - LAS CRUCES',
 'NEW MEXICO CONNECTIONS ACADEMY',
 'NM SCHOOL FOR ARTS',
 'SCHOOL OF DREAMS ACADEMY',
 'SOUTHWEST SECONDARY LEARNING CENTER',
 'SW AERONAUTICS MATHEMATICS AND SCIENCE ACADEMY',
 'TAOS ACADEMY',
 'THE ASK ACADEMY',
 'THE GREAT ACADEMY',
 'THE MASTER PROGRAM',
 'TIERRA ADENTRO',
 'TIERRA ENCANTADA CHARTER SCHOOL',
 'WALATOWA CHARTER HIGH']

Match remaining samples I can find.

In [18]:
state_fiscal_rename = {
    'AUDUBON SCHOOL DISRICT' : 'AUDUBON',
    'BERGEN ARTS AND SCIENCE CHARTER' : 'BERGEN ARTS AND SCIENCES CHARTER',
    'CAPE MAY COUNTY VOCATIONAL HIGH' :  'CAPE MAY COUNTY VOCATIONAL',
    'CARLSTADT-EAST RUTHERFORD REGIONAL' : 'CARLSTADT-EAST RUTHERFORD',
    'CHARTERTECH HIGH SCHOOL FOR THE PERFORMING ARTS' : 'CHARTER~TECH',
    'ORANGE' : 'CITY OF ORANGE',
    'ESSEX COUNTY VOCATIONAL' : 'ESSEX COUNTY VOC-TECH',
    'LODI' : 'LODIUGH',
    'M.E.T.S. CHARTER' : 'M E T S CHARTER',
    'NORTH HUNTERDON-VOORHEES REGIONAL' : 'NORTH HUNT/VOORHEES REGIONAL',
    'NORTHERN BURLINGTON COUNTY REGIONAL' : 'NORTHERN BURLINGTON REGIONAL',
    'PASSSAIC COUNTY VOCATIONAL' : 'PASSAIC COUNTY VOCATIONAL',
    'PASSAIC VALLEY REGIONAL HIGH #1' : 'PASSAIC VALLEY REGIONAL',
    'PATERSON CHARTER SCHOOL FOR SCIENCE AND TECHNOLOGY' : 'PATERSON CHARTER SCHOOL FOR SCI/TECH',
    'PENNS GROVE-CARNEYS POINT REGIONAL' : 'PENNS GRV-CARNEYS PT REGIONAL',
    'RAMAPO INDIAN HILLS REGIONAL' : 'RAMAPO-INDIAN HILL REGIONAL',
    'RIDGEWOOD' : 'RIDGEWOOD VILLAGE',
    'SCOTCH PLAINS-FANWOOD' : 'SCOTCH PLAINS-FANWOOD REGIONAL',
    'SOMERSET COUNTY VOCATIONAL SCHOOLS' : 'SOMERSET COUNTY VOCATIONAL',
    'STERLING REGIONAL' : 'STERLING HIGH SCHOOL DIST',
    'UNION COUNTY TEAMS CHARTER SCHOOL-HIGH SCHOOL/COLLEGE LA' : 'UNION COUNTY TEAMS CHARTER'
}

In [19]:
state_fiscal = state_fiscal.replace(state_fiscal_rename)

Merge federal and state data, keeping only matches between the two.

In [20]:
state_grads_merged = pd.merge(state_fiscal, state_grads, how='inner', left_on='NAME', right_on='District Name')

Save cleaned data.

In [21]:
state_grads_merged.to_csv('../../data/state_data_merged/' + abbr + '.csv', index=False)