In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np

In [3]:
abbr = 'OH'

In [4]:
file = 'ohio2018.xlsx'

Read in federal level data

In [5]:
fiscal = pd.read_sas('../../data/fiscal2018', format = 'sas7bdat', encoding='iso-8859-1')

Generate list of districts in the state in the federal data

In [6]:
state_fiscal = fiscal[(fiscal['STABBR'] == abbr) & (fiscal['GSHI'] == '12')]

In [7]:
len(state_fiscal)

800

Read in state level data

In [13]:
state_grads = pd.read_excel('../../data/state_data_raw/' + file, sheet_name='Four-Year Graduation')

In [41]:
state_grads

                      District Name   Total  Graduation Rate
0                  Manchester Local    65.0            0.985
1                        Akron City  1551.0            0.798
2                     Alliance City   238.0            0.866
3                      Ashland City   272.0            0.919
4               Ashtabula Area City   264.0            0.788
..                              ...     ...              ...
603  Adams County Ohio Valley Local   313.0            0.895
604             Gallia County Local   187.0            0.813
605             East Guernsey Local    95.0            0.937
606          Tri-County North Local    76.0            0.947
607                    Monroe Local   178.0            0.949

[608 rows x 3 columns]

Filter results.

In [13]:
# state_grads = state_grads[(state_grads['Entity_Level'] == 'District') &
#                          (state_grads['Subgroup_Desc'] == 'All')]

Select and rename columns.

In [15]:
state_grads = state_grads[['District Name', 
                           'Four Year Graduation Rate Denominator - Class of 2018', 
                           'Four Year Graduation Rate - Class of 2018']]

In [16]:
state_grads.columns = ['District Name', 'Total', 'Graduation Rate']

In [17]:
state_grads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 608 entries, 0 to 607
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   District Name    608 non-null    object
 1   Total            608 non-null    object
 2   Graduation Rate  608 non-null    object
dtypes: object(3)
memory usage: 14.4+ KB

Convert data types.

In [27]:
state_grads['Total'] = state_grads['Total'].astype(str).str.replace('< 10', '')
state_grads['Total'] = state_grads['Total'].astype(str).str.replace('NC', '')
state_grads['Total'] = state_grads['Total'].astype(str).str.replace('nan', '')

state_grads['Graduation Rate'] = state_grads['Graduation Rate'].astype(str).str.replace('NC', '')

In [28]:
state_grads['Total'] = pd.to_numeric(state_grads['Total'])
state_grads['Graduation Rate'] = pd.to_numeric(state_grads['Graduation Rate']) / 100

Check for matches and non-matches in the two lists.

In [22]:
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.upper().str.strip()
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.upper().str.strip()

In [19]:
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' SCHOOL DISTRICT', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace('SCH DIST', 'SCHOOL DISTRICT')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' CS', ' CHARTER SCHOOL')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sHIGH\sSCHOOL$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sSCHOOL$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' PUBLIC SCHOOLS', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' CO ', ' COUNTY ')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' BORO', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' CITY', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace('TWP', 'TOWNSHIP')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sREG(\s|$)', ' REGIONAL ')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sTOWN$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sTOWNSHIP$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sBORO$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sPUBLIC$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace('H.S DIST.', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'^N\s', 'NORTH ')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'^W\s', 'WEST ')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace("â€™", "'")
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' REGIONAL', '')

# state_grads['District Name'] = state_grads['District Name'].astype(str).str.strip()

# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' BOARD OF EDUCATION', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' VOCATIONAL TECHNICAL', ' VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' CITY', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' PUBLIC SCHOOLS', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' PUBLIC', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' SCHOOL DISTRICT', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sHIGH\sSCHOOL$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sSCHOOL$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sTOWNSHIP$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sTOWN$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sBOROUGH$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sBORO$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sDISTRICT$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('VOCATIONAL AND TECHNICAL', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('VOCATIONAL-TECHNICAL', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('TECHNICAL', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('INSTITUTE OF TECHNOLOGY', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('SCHOOLS OF TECHNOLOGY', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sHIGH$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' REGIONAL', '')

# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.strip()

In [32]:
matches = [name for name in list(state_grads['District Name']) if name in list(state_fiscal['NAME'])]
matches.sort()
len(matches)

606

In [33]:
A = [name for name in list(state_grads['District Name']) if name not in list(state_fiscal['NAME'])]
A.sort()
A

['Cincinnati Public Schools', 'Ironton City School District']

In [34]:
B = [name for name in list(state_fiscal['NAME']) if name not in list(state_grads['District Name'])]
B.sort()
B

['Academy for Urban Scholars Youngstown',
 'Achieve Career Preparatory Academy',
 'Akron Digital Academy',
 'Albert Einstein Academy for Letters Arts and Sciences-Ohio',
 'Alternative Education Academy',
 'Apollo',
 'Arts & College Preparatory Academy',
 'Ashland County Community Academy',
 'Ashland County-West Holmes',
 'Ashtabula County Technical and Career Center',
 'Auburn',
 'Auglaize County Educational Academy',
 'Autism Model School',
 'Beacon Hill Academy',
 'Belmont-Harrison',
 'Bio-Med Science Academy STEM School',
 'Bridges Community Academy',
 'Brookwood Academy',
 'Buckeye',
 'Buckeye On-Line School for Success',
 'Buckeye United School District',
 'Butler Technology & Career Development Schools',
 'Canton Harbor High School',
 'Capital High School',
 'Career and Technology Educational Centers',
 'Central High School',
 'Charles School at Ohio Dominican University',
 'Cincinnati City',
 'Cincinnati College Preparatory Academy',
 'Cincinnati Learning Schools',
 'Cincinnati Technology Academy',
 'Cleveland Academy for Scholarship Technology and Leadership',
 'Cleveland Preparatory Academy',
 'Cliff Park High School',
 'College Corner Local',
 'Columbiana County',
 'Columbus Arts & Technology Academy',
 'Constellation Schools: Parma Community',
 'Coshocton County',
 'Coshocton Opportunity School',
 'Cuyahoga Valley Career Center',
 'Dayton Business Technology High School',
 'Dayton Early College Academy Inc',
 'Dayton Regional STEM School',
 'Delaware Area Career Center',
 'Dohn Community',
 'EHOVE Career Center',
 'Eagle Learning Center',
 'Early College Academy',
 'Eastland-Fairfield Career/Tech',
 'Electronic Classroom Of Tomorrow',
 'Everest High School',
 'Fairborn Digital Academy',
 'Findlay Digital Academy',
 'Flex High School',
 'Focus Learning Academy of Southeastern Columbus',
 'Focus Learning Academy of Southwest Columbus',
 'Focus North High School',
 'Four County Career Center',
 'Foxfire High School',
 'Franklin Local Community School',
 'Franklinton Preparatory Academy',
 'Frederick Douglass Reclamation Academy',
 'Gallia-Jackson-Vinton',
 'George V. Voinovich Reclamation Academy',
 'Glass City Academy',
 'Global Impact STEM Academy',
 'Goal Digital Academy',
 'Graham School The',
 'Great Oaks Career Campuses',
 'Greater Ohio Virtual School',
 'Greene County Vocational School District',
 'Hardin Community School',
 'Hope Academy for Autism',
 'Horizon Science Acad Cleveland',
 'Horizon Science Academy Columbus',
 'Horizon Science Academy Dayton High School',
 'Horizon Science Academy Lorain',
 'Horizon Science Academy Toledo',
 'Insight School of Ohio',
 'Interactive Media & Construction (IMAC)',
 'Invictus High School',
 'Ironton City',
 'Jefferson County',
 'Knox County JVSD',
 'Lake Erie International High School',
 'Lakeland Academy Community School',
 'Lakewood City Academy',
 'Lawrence County',
 'Liberty High School',
 'Liberty Preparatory School',
 'Life Skills Center Of Toledo',
 'Life Skills Center of Columbus North',
 'Life Skills Center of Columbus Southeast',
 'Life Skills Center of Dayton',
 'Life Skills Center of Elyria',
 'Life Skills Center of North Akron',
 'Life Skills Ctr Of Cincinnati',
 'Life Skills Ctr Of Youngstown',
 'Life Skills High School of Cleveland',
 'Life Skills Of Northeast Ohio',
 'Lighthouse Community Sch Inc',
 'Lorain County JVS',
 'Lorain K-12 Digital Academy',
 'Mahoning Co Career & Tech Ctr',
 'Mahoning County High School',
 'Mahoning Unlimited Classroom',
 'Maplewood Career Center',
 'Maritime Academy of Toledo The',
 'Marshall High School',
 'Mason Run High School',
 'Massillon Digital Academy Inc',
 'Medina County Joint Vocational School District',
 'Metro Early College High School',
 'Miami Valley Career Tech',
 'Miamisburg Secondary Academy',
 'Mid-East Career and Technology Centers',
 'Mound Street Military Careers Academy',
 'Mount Auburn International Academy',
 'New Day Academy Boarding & Day School',
 'Newark Digital Academy',
 'North Central Academy',
 'Northeast Ohio College Preparatory School',
 'Oakstone Community School',
 'Ohio Connections Academy Inc',
 'Ohio Construction Academy',
 'Ohio Hi-Point Career Center',
 'Ohio School For The Blind',
 'Ohio School For The Deaf',
 'Ohio Virtual Academy',
 'Old Brook High School',
 'Patriot Preparatory Academy',
 'Penta Career Center - District',
 'Phoenix Academy Community School',
 'Pickaway-Ross County JVSD',
 'Pike County Area',
 'Pioneer Career & Technology',
 'Polaris',
 'Polly Fox Academy Community School',
 'Portage Lakes',
 'Promise Academy',
 'Quaker Digital Academy',
 'Regent High School',
 'Rittman Academy',
 'River Gate High School',
 'Road to Success Academy',
 'Rushmore Academy',
 'Schnee Learning Center',
 'Scioto County Career Technical Center',
 'Sciotoville',
 'Southern Hills',
 'Springfield-Clark County',
 'Stark College and Career High School',
 'Stark County Area',
 'Steel Academy',
 'Summit Academy - Toledo',
 'Summit Academy Alternative LearnersWarren Middle & Secondary',
 'Summit Academy Community School-Parma',
 'Summit Academy School - Lorain',
 'Summit Academy Secondary - Akron',
 'Summit Academy Secondary - Canton',
 'Summit Academy Secondary - Youngstown',
 'Summit Academy Secondary School - Middletown',
 'Summit Academy Transition High School Dayton',
 'Summit Academy Transition High School-Cincinnati',
 'Summit Academy Transition High School-Columbus',
 'T2 Honors Academy',
 'TRECA Digital Academy',
 'The Academy for Urban Scholars',
 'The Autism Academy Of Learning',
 'The Capella Institute',
 'Toledo School For The Arts',
 'Tolles Career & Technical Center',
 'Tomorrow Center',
 'Townsend North Community School',
 'Towpath Trail High School',
 'Tri-County Career Center',
 'Tri-Rivers',
 'Trumbull Career & Tech Ctr',
 'U S Grant',
 'Upper Valley Career Center',
 'Urban Early College Network',
 'Utica Shale Academy of Ohio',
 'Vanguard-Sentinel Career & Technology Centers',
 'Vantage Career Center',
 'Warren County Vocational School',
 'Washington County Career Center',
 'Wayne County JVSD',
 'West Central Learning Academy II',
 'Westwood Preparatory Academy',
 'Wildwood Environmental Academy',
 'Youthbuild Columbus Community',
 'Zanesville Community School',
 'Zenith Academy']

Make any additional matches I can find.

In [35]:
state_fiscal_rename = {
    'Cincinnati City' : 'Cincinnati Public Schools',
    'Ironton City' : 'Ironton City School District'
}

In [36]:
state_fiscal = state_fiscal.replace(state_fiscal_rename)

Merge federal and state data, keeping only matches between the two.

In [37]:
state_grads_merged = pd.merge(state_fiscal, state_grads, how='inner', left_on='NAME', right_on='District Name')

Save cleaned data.

In [30]:
state_grads_merged.to_csv('../../data/state_data_merged/' + abbr + '.csv', index=False)