In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np

In [3]:
abbr = 'TX'

In [4]:
file = 'texas2018.xlsx'

Read in federal level data

In [5]:
fiscal = pd.read_sas('../../data/fiscal2018', format = 'sas7bdat', encoding='iso-8859-1')

Generate list of districts in the state in the federal data

In [6]:
state_fiscal = fiscal[(fiscal['STABBR'] == abbr) & (fiscal['GSHI'] == '12')]

In [7]:
len(state_fiscal)

1079

Read in state level data

In [11]:
state_grads = pd.read_excel('../../data/state_data_raw/' + file, sheet_name='Comp_2018_4yr')

In [12]:
state_grads.head()

,CALC_FOR_STATE_ACCT,DISTRICT,DISTNAME,COUNTY,CNTYNAME,REGION,REGNNAME,DIST_ALLD,DIST_ALLN_CMP2,DIST_ALLN_GRAD,...,DIST_TTLN_CONT,DIST_TTLN_GED,DIST_TTLN_DROP,DIST_TTLR_CMP2,DIST_TTLR_GRAD,DIST_TTLR_CONT,DIST_TTLR_GED,DIST_TTLR_DROP,DIST_TTLR_RAED,DIST_EXCL
0,No,1902,Cayuga ISD,1,Anderson County,7,Kilgore,39,39,39,...,0,0,0,100.0,100.0,0.0,0.0,0.0,79.5,0
1,Yes,1902,Cayuga ISD,1,Anderson County,7,Kilgore,39,39,39,...,0,0,0,100.0,100.0,0.0,0.0,0.0,79.5,0
2,No,1903,Elkhart ISD,1,Anderson County,7,Kilgore,<100,-,-,...,-,0,0,100.0,97.3,2.7,0.0,0.0,94.4,0
3,Yes,1903,Elkhart ISD,1,Anderson County,7,Kilgore,<100,-,-,...,-,0,0,100.0,97.3,2.7,0.0,0.0,94.4,0
4,No,1904,Frankston ISD,1,Anderson County,7,Kilgore,<100,-,-,...,0,0,-,95.1,95.1,0.0,0.0,4.9,98.2,<50

Reset columns.

In [10]:
# state_grads.columns = state_grads.loc[0]
# state_grads = state_grads.loc[1:]

Filter results.

In [13]:
state_grads = state_grads[(state_grads['CALC_FOR_STATE_ACCT'] == 'No')]

In [14]:
state_grads

,CALC_FOR_STATE_ACCT,DISTRICT,DISTNAME,COUNTY,CNTYNAME,REGION,REGNNAME,DIST_ALLD,DIST_ALLN_CMP2,DIST_ALLN_GRAD,...,DIST_TTLN_CONT,DIST_TTLN_GED,DIST_TTLN_DROP,DIST_TTLR_CMP2,DIST_TTLR_GRAD,DIST_TTLR_CONT,DIST_TTLR_GED,DIST_TTLR_DROP,DIST_TTLR_RAED,DIST_EXCL
0,No,1902,Cayuga ISD,1,Anderson County,7,Kilgore,39,39,39,...,0,0,0,100.0,100.0,0.0,0.0,0.0,79.5,0
2,No,1903,Elkhart ISD,1,Anderson County,7,Kilgore,<100,-,-,...,-,0,0,100.0,97.3,2.7,0.0,0.0,94.4,0
4,No,1904,Frankston ISD,1,Anderson County,7,Kilgore,<100,-,-,...,0,0,-,95.1,95.1,0.0,0.0,4.9,98.2,<50
6,No,1906,Neches ISD,1,Anderson County,7,Kilgore,-,-,-,...,0,0,-,95.8,95.8,0.0,0.0,4.2,78.3,0
8,No,1907,Palestine ISD,1,Anderson County,7,Kilgore,-,-,-,...,-,0,-,99.5,97.7,1.9,0.0,0.5,93.8,<50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2108,No,252902,Newcastle ISD,252,Young County,9,Wichita Falls,17,17,17,...,0,0,0,100.0,100.0,0.0,0.0,0.0,88.2,0
2110,No,252903,Olney ISD,252,Young County,9,Wichita Falls,-,-,-,...,0,0,0,.,.,.,.,.,.,<50
2112,No,253901,Zapata County ISD,253,Zapata County,1,Edinburg,<250,-,-,...,-,0,-,94.2,91.6,2.7,0.0,5.8,87.1,0
2114,No,254901,Crystal City ISD,254,Zavala County,20,San Antonio,<150,-,-,...,-,0,-,95.2,92.0,3.2,0.0,4.8,83.9,<50
2116,No,254902,La Pryor ISD,254,Zavala County,20,San Antonio,31,31,31,...,0,0,0,100.0,100.0,0.0,0.0,0.0,96.8,0

Select and rename columns.

In [15]:
state_grads = state_grads[['DISTNAME', 
                           'DIST_ALLN_GRAD',
                           'DIST_ALLR_GRAD']]

In [16]:
state_grads.columns = ['District Name', 'Total', 'Graduation Rate']

In [17]:
state_grads.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1059 entries, 0 to 2116
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   District Name    1059 non-null   object
 1   Total            1059 non-null   object
 2   Graduation Rate  1059 non-null   float64
dtypes: float64(1), object(2)
memory usage: 33.1+ KB

Convert data types.

In [21]:
state_grads['Total'] = state_grads['Total'].astype(str).str.replace('-', '')
state_grads['Total'] = state_grads['Total'].astype(str).str.replace(',', '')

In [22]:
state_grads['Total'] = pd.to_numeric(state_grads['Total'])
state_grads['Graduation Rate'] = pd.to_numeric(state_grads['Graduation Rate']) / 100

Check for matches and non-matches in the two lists.

In [27]:
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.upper().str.strip()
state_grads['District Name'] = state_grads['District Name'].astype(str).str.upper().str.strip()

In [20]:
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' City', '')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' Schools', '')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' School District', '')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' School System', '')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' Municipal', '')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' Special', '')

state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' City', '')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' Schools', '')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' School District', '')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' Municipal', '')

In [28]:
matches = [name for name in list(state_grads['District Name']) if name in list(state_fiscal['NAME'])]
matches.sort()
len(matches)

1041

In [29]:
A = [name for name in list(state_grads['District Name']) if name not in list(state_fiscal['NAME'])]
A.sort()
A

['BROOKS ACADEMY OF SCIENCE AND ENGI',
 'BURNHAM WOOD CHARTER SCHOOL DISTRI',
 "D'HANIS SCHOOL",
 'DR M L GARZA-GONZALEZ CHARTER SCHO',
 'HARMONY SCHOOL OF SCIENCE - HOUSTO',
 'HENRY FORD ACADEMY ALAMEDA SCHOOL',
 'IMAGINE INTERNATIONAL ACADEMY OF N',
 'INTERNATIONAL LEADERSHIP OF TEXAS',
 'NEWMAN INTERNATIONAL ACADEMY OF AR',
 'PASO DEL NORTE ACADEMY CHARTER DIS',
 'PEGASUS SCHOOL OF LIBERAL ARTS AND',
 'PROMESA PUBLIC SCHOOLS',
 'RICHARD MILBURN ALTER HIGH SCHOOL',
 'SCHOOL OF SCIENCE AND TECHNOLOGY D',
 'SOUTH PLAINS ACADEMY CHARTER DISTR',
 'TEKOA ACADEMY OF ACCELERATED STUDI',
 'TEXAS COLLEGE PREPARATORY ACADEMIE',
 'UNIVERSITY OF TEXAS UNIVERSITY CHA']

In [30]:
B = [name for name in list(state_fiscal['NAME']) if name not in list(state_grads['District Name'])]
B.sort()
B

['ARISTOI CLASSICAL ACADEMY',
 'BASIS TEXAS',
 'BROOKS ACADEMY OF SCIENCE AND ENGINEERING',
 'BURNHAM WOOD CHARTER SCHOOL DISTRICT',
 'CARPE DIEM SCHOOLS',
 'CEDARS INTERNATIONAL ACADEMY',
 "D'HANIS ISD",
 'DAMON ISD',
 'DR M L GARZA-GONZALEZ CHARTER SCHOOL',
 'EAST AUSTIN COLLEGE PREP',
 'GREAT HEARTS TEXAS',
 'HARMONY SCHOOL OF SCIENCE - HOUSTON',
 'HENRY FORD ACADEMY ALAMEDA SCHOOL FOR ART + DESIGN',
 'IMAGINE INTERNATIONAL ACADEMY OF NORTH TEXAS',
 'INTERNATIONAL LEADERSHIP OF TEXAS (ILT)',
 'KI CHARTER ACADEMY',
 'KIPP INC CHARTER',
 'KIPP SAN ANTONIO',
 'LEGACY PREPARATORY',
 'NEW FRONTIERS PUBLIC SCHOOLS INC',
 'NEWMAN INTERNATIONAL ACADEMY OF ARLINGTON',
 'ODYSSEY ACADEMY INC',
 'OLFEN ISD',
 'PASO DEL NORTE ACADEMY CHARTER DISTRICT',
 'PEGASUS SCHOOL OF LIBERAL ARTS AND SCIENCES',
 'RICHARD MILBURN ALTER HIGH SCHOOL (KILLEEN)',
 'SCHOOL OF SCIENCE AND TECHNOLOGY DISCOVERY',
 'SOUTH PLAINS ACADEMY CHARTER DISTRICT',
 'TEKOA ACADEMY OF ACCELERATED STUDIES STEM SCHOOL',
 'TEXAS COLLEGE PREPARATORY ACADEMIES',
 'TEXAS JUVENILE JUSTICE DEPARTMENT',
 'TEXAS SCH FOR THE BLIND & VISUALLY IMPAIRED',
 'TEXAS SCH FOR THE DEAF',
 'TEXHOMA ISD',
 'THE EXCEL CENTER',
 'UME PREPARATORY ACADEMY',
 'UNIVERSITY OF TEXAS UNIVERSITY CHARTER SCHOOL',
 'VILLAGE TECH SCHOOLS']

Make any additional matches I can find.

In [24]:
state_grads_rename = {
    'BROOKS ACADEMY OF SCIENCE AND ENGI' : 'BROOKS ACADEMY OF SCIENCE AND ENGINEERING',
    'BURNHAM WOOD CHARTER SCHOOL DISTRI' : 'BURNHAM WOOD CHARTER SCHOOL DISTRICT',
    "D'HANIS SCHOOL" : "D'HANIS ISD",
    'DR M L GARZA-GONZALEZ CHARTER SCHO' : 'DR M L GARZA-GONZALEZ CHARTER SCHOOL',
    'HARMONY SCHOOL OF SCIENCE - HOUSTO' : 'HARMONY SCHOOL OF SCIENCE - HOUSTON',
    'HENRY FORD ACADEMY ALAMEDA SCHOOL' : 'HENRY FORD ACADEMY ALAMEDA SCHOOL FOR ART + DESIGN',
    'IMAGINE INTERNATIONAL ACADEMY OF N' : 'IMAGINE INTERNATIONAL ACADEMY OF NORTH TEXAS',
    'INTERNATIONAL LEADERSHIP OF TEXAS' : 'INTERNATIONAL LEADERSHIP OF TEXAS (ILT)',
    'NEWMAN INTERNATIONAL ACADEMY OF AR' : 'NEWMAN INTERNATIONAL ACADEMY OF ARLINGTON',
    'PASO DEL NORTE ACADEMY CHARTER DIS' : 'PASO DEL NORTE ACADEMY CHARTER DISTRICT',
    'PEGASUS SCHOOL OF LIBERAL ARTS AND' : 'PEGASUS SCHOOL OF LIBERAL ARTS AND SCIENCES',
    'PROMESA PUBLIC SCHOOLS',
    'RICHARD MILBURN ALTER HIGH SCHOOL',
    'SCHOOL OF SCIENCE AND TECHNOLOGY D',
    'SOUTH PLAINS ACADEMY CHARTER DISTR',
    'TEKOA ACADEMY OF ACCELERATED STUDI',
    'TEXAS COLLEGE PREPARATORY ACADEMIE',
    'UNIVERSITY OF TEXAS UNIVERSITY CHA'
}

In [25]:
state_grads = state_grads.replace(state_grads_rename)

Merge federal and state data, keeping only matches between the two.

In [26]:
state_grads_merged = pd.merge(state_fiscal, state_grads, how='inner', left_on='NAME', right_on='District Name')

Save cleaned data.

In [27]:
state_grads_merged.to_csv('../../data/state_data_merged/' + abbr + '.csv', index=False)