In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np

In [3]:
abbr = 'WY'

In [4]:
file = 'wyoming2018.csv'

Read in federal level data

In [5]:
fiscal = pd.read_sas('../../data/fiscal2018', format = 'sas7bdat', encoding='iso-8859-1')

Generate list of districts in the state in the federal data

In [6]:
state_fiscal = fiscal[(fiscal['STABBR'] == abbr) & (fiscal['GSHI'] == '12')]

In [7]:
len(state_fiscal)

60

In [8]:
state_fiscal.head()

,LEAID,CENSUSID,FIPST,CONUM,CSA,CBSA,NAME,STNAME,STABBR,SCHLEV,...,FL_66V,FL_W01,FL_W31,FL_W61,FL_V95,FL_V02,FL_K14,FL_CE1,FL_CE2,FL_CE3
18652,5600005,N,56,56021,N,16940,Wyoming Department of Health,Wyoming,WY,N,...,N,N,N,N,N,N,N,N,N,N
18653,5600009,N,56,56001,N,29660,Cathedral Home for Children - Administration O...,Wyoming,WY,02,...,N,N,N,N,N,N,N,N,N,N
18654,5600010,N,56,56015,N,N,Saint Joseph's Children's Home - Administratio...,Wyoming,WY,03,...,N,N,N,N,N,N,N,N,N,N
18656,5600014,N,56,56033,N,43260,Normative Services - Administration Office,Wyoming,WY,02,...,N,N,N,N,N,N,N,N,N,N
18657,5600015,N,56,56039,N,27220,Red Top Meadows - Administration Office,Wyoming,WY,03,...,N,N,N,N,N,N,N,N,N,N

Read in state level data

In [9]:
state_grads = pd.read_csv('../../data/state_data_raw/' + file)

In [10]:
state_grads.head()

,DistrictId,DistrictName,ReportingCategory,GradRateType,SchoolYear,total_exiters,graduates,graduation_rate
0,101000,Albany #1,All Students,4 Year,2017-18,284,234,82.4%
1,201000,Big Horn #1,All Students,4 Year,2017-18,156,78,50.0%
2,202000,Big Horn #2,All Students,4 Year,2017-18,57,54,94.7%
3,203000,Big Horn #3,All Students,4 Year,2017-18,44,40,90.9%
4,204000,Big Horn #4,All Students,4 Year,2017-18,23,21,91.3%

Reset columns.

Filter results.

In [11]:
# state_grads = state_grads[(state_grads['SCHOOL_NAME'] == '[Districtwide]') &
#                          (state_grads['GROUP_BY_VALUE'] == 'All Students') &
#                          (state_grads['TIMEFRAME'] == '4-Year rate') &
#                          (state_grads['COMPLETION_STATUS'] == 'Completed - Regular High School Diploma')]

Select and rename columns.

In [12]:
state_grads = state_grads[['DistrictName', 
                           'total_exiters',
                           'graduation_rate']]

In [13]:
state_grads.columns = ['District Name', 'Total', 'Graduation Rate']

In [14]:
state_grads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   District Name    48 non-null     object
 1   Total            48 non-null     int64
 2   Graduation Rate  48 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.2+ KB

Convert data types.

In [15]:
# state_grads['Total'] = state_grads['Total'].astype(str).str.replace('<', '')
state_grads['Graduation Rate'] = state_grads['Graduation Rate'].astype(str).str.replace('%', '')

In [16]:
state_grads['Graduation Rate'] = pd.to_numeric(state_grads['Graduation Rate']) / 100.

Check for matches and non-matches in the two lists.

In [17]:
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.upper().str.strip()
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.upper().str.strip()

In [18]:
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sSu$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sSd$', '')

# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' School District', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' Agency', '')

In [19]:
matches = [name for name in list(state_grads['District Name']) if name in list(state_fiscal['NAME'])]
matches.sort()
len(matches)

0

In [20]:
A = [name for name in list(state_grads['District Name']) if name not in list(state_fiscal['NAME'])]
A.sort()
A

['Albany #1',
 'Big Horn #1',
 'Big Horn #2',
 'Big Horn #3',
 'Big Horn #4',
 'Campbell #1',
 'Carbon #1',
 'Carbon #2',
 'Converse #1',
 'Converse #2',
 'Crook #1',
 'Fremont #1',
 'Fremont #14',
 'Fremont #2',
 'Fremont #21',
 'Fremont #24',
 'Fremont #25',
 'Fremont #38',
 'Fremont #6',
 'Goshen #1',
 'Hot Springs #1',
 'Johnson #1',
 'Laramie #1',
 'Laramie #2',
 'Lincoln #1',
 'Lincoln #2',
 'Natrona #1',
 'Niobrara #1',
 'Park #1',
 'Park #16',
 'Park #6',
 'Platte #1',
 'Platte #2',
 'Sheridan #1',
 'Sheridan #2',
 'Sheridan #3',
 'Sublette #1',
 'Sublette #9',
 'Sweetwater #1',
 'Sweetwater #2',
 'Teton #1',
 'Uinta #1',
 'Uinta #4',
 'Uinta #6',
 'Washakie #1',
 'Washakie #2',
 'Weston #1',
 'Weston #7']

In [21]:
B = [name for name in list(state_fiscal['NAME']) if name not in list(state_grads['District Name'])]
B.sort()
B

['Albany County School District #1',
 'Big Horn County School District #1',
 'Big Horn County School District #2',
 'Big Horn County School District #3',
 'Big Horn County School District #4',
 'Campbell County School District #1',
 'Carbon County School District #1',
 'Carbon County School District #2',
 'Cathedral Home for Children - Administration Office',
 'Converse County School District #1',
 'Converse County School District #2',
 'Crook County School District #1',
 'Fremont County School District # 1',
 'Fremont County School District # 2',
 'Fremont County School District # 6',
 'Fremont County School District #14',
 'Fremont County School District #21',
 'Fremont County School District #24',
 'Fremont County School District #25',
 'Fremont County School District #38',
 'Goshen County School District #1',
 'Hot Springs County School District #1',
 'Johnson County School District #1',
 'Laramie County School District #1',
 'Laramie County School District #2',
 'Lincoln County School District #1',
 'Lincoln County School District #2',
 'Natrona County School District #1',
 'Niobrara County School District #1',
 'Normative Services - Administration Office',
 'Northeast Wyoming BOCES',
 'Northwest Wyoming BOCES',
 'Park County School District # 1',
 'Park County School District # 6',
 'Park County School District #16',
 'Platte County School District #1',
 'Platte County School District #2',
 'Red Top Meadows - Administration Office',
 'Region V BOCES',
 "Saint Joseph's Children's Home - Administration Office",
 "Saint Stephen's Indian School Admin Office",
 'Sheridan County School District #1',
 'Sheridan County School District #2',
 'Sheridan County School District #3',
 'Sublette County School District #1',
 'Sublette County School District #9',
 'Sweetwater County School District #1',
 'Sweetwater County School District #2',
 'Teton County School District #1',
 'Uinta County School District #1',
 'Uinta County School District #4',
 'Uinta County School District #6',
 'Washakie County School District #1',
 'Washakie County School District #2',
 'Weston County School District #1',
 'Weston County School District #7',
 'Wyoming Behavioral Institute - Administration Office',
 'Wyoming Department of Family Services',
 'Wyoming Department of Health',
 'Youth Emergency Services Inc. - Administration Office']

No additional matches to be made.

In [22]:
# state_fiscal_rename = {}

In [23]:
# state_fiscal = state_fiscal.replace(state_fiscal_rename)

Merge federal and state data, keeping only matches between the two.

In [24]:
state_grads_merged = pd.merge(state_fiscal, state_grads, how='inner', left_on='NAME', right_on='District Name')

Save cleaned data.

In [25]:
state_grads_merged.to_csv('../../data/state_data_merged/' + abbr + '.csv', index=False)