In [1]:
import pandas as pd
from tabula import read_pdf

Read in federal level data

In [2]:
fiscal = pd.read_sas('../../data/fiscal2018', format = 'sas7bdat', encoding='iso-8859-1')

In [3]:
fiscal

,LEAID,CENSUSID,FIPST,CONUM,CSA,CBSA,NAME,STNAME,STABBR,SCHLEV,...,FL_66V,FL_W01,FL_W31,FL_W61,FL_V95,FL_V02,FL_K14,FL_CE1,FL_CE2,FL_CE3
0,0100002,N,01,01073,142,13820,Alabama Youth Services,Alabama,AL,N,...,M,M,M,M,M,M,M,M,M,M
1,0100005,01504840100000,01,01095,290,10700,Albertville City,Alabama,AL,03,...,M,R,R,R,R,M,M,M,M,M
2,0100006,01504800100000,01,01095,290,10700,Marshall County,Alabama,AL,03,...,M,R,R,R,R,M,M,M,M,M
3,0100007,01503740100000,01,01073,142,13820,Hoover City,Alabama,AL,03,...,M,R,R,R,R,M,M,M,M,M
4,0100008,01504530100000,01,01089,290,26620,Madison City,Alabama,AL,03,...,M,R,R,R,R,M,M,M,M,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18710,5680252,N,56,56005,N,23940,Youth Emergency Services Inc. - Administration...,Wyoming,WY,02,...,N,N,N,N,N,N,N,N,N,N
18711,5680253,N,56,56025,N,16220,Wyoming Behavioral Institute - Administration ...,Wyoming,WY,03,...,N,N,N,N,N,N,N,N,N,N
18712,5680254,N,56,56013,N,40180,Saint Stephen's Indian School Admin Office,Wyoming,WY,03,...,N,N,N,N,N,N,N,N,N,N
18713,5680255,N,56,32005,456,23820,Right of Passage,Wyoming,WY,02,...,N,N,N,N,N,N,N,N,N,N
18714,5680256,N,56,56029,N,N,Northwest Wyoming Treatment Center,Wyoming,WY,N,...,N,N,N,N,N,N,N,N,N,N

Generate list of districts in the state in the federal data

In [15]:
fiscal_names = list(fiscal[fiscal['STNAME'] == 'Alaska']['NAME'])

In [16]:
len(fiscal_names)

54

Read in state level data

In [18]:
AK_pdf = read_pdf('../../data/state_data_raw/alaska2018.pdf', pages=1)

In [19]:
AK = AK_pdf[0]
AK

              District  Graduates  Cohort     Rate
0       Alaska Gateway         13      24   54.17%
1      Aleutian Region          1       2   50.00%
2       Aleutians East         16      18   88.89%
3            Anchorage       2866    3551   80.71%
4       Annette Island         27      28   96.43%
5        Bering Strait         81     108   75.00%
6          Bristol Bay         16      16  100.00%
7              Chatham         11      13   84.62%
8              Chugach         18      26   69.23%
9         Copper River         19      38   50.00%
10             Cordova         18      22   81.82%
11               Craig         24      37   64.86%
12        Delta/Greely         46      53   86.79%
13              Denali         33      51   64.71%
14          Dillingham         25      38   65.79%
15           Fairbanks        710     908   78.19%
16              Galena        331     412   80.34%
17              Haines         18      23   78.26%
18              Hoonah          9       9  100.00%
19            Hydaburg          9      12   75.00%
20            Iditarod         11      27   40.74%
21              Juneau        294     354   83.05%
22                Kake          6       8   75.00%
23         Kashunamiut          9      15   60.00%
24     Kenai Peninsula        528     618   85.44%
25           Ketchikan        156     186   83.87%
26             Klawock          8      12   66.67%
27       Kodiak Island        156     181   86.19%
28              Kuspuk         15      20   75.00%
29  Lake and Peninsula         19      25   76.00%
30     Lower Kuskokwim        178     291   61.17%
31         Lower Yukon         85     138   61.59%
32              Mat-Su       1176    1413   83.23%
33        Mt Edgecumbe        100     101   99.01%
34              Nenana         67     174   38.51%
35                Nome         33      43   76.74%
36         North Slope         92     135   68.15%
37    Northwest Arctic         94     124   75.81%
38             Pelican          0       0      n/a
39          Petersburg         43      48   89.58%
40            Pribilof          0       0      n/a
41        Saint Mary's          8      12   66.67%
42               Sitka         88     115   76.52%
43             Skagway          7       8   87.50%
44    Southeast Island         12      14   85.71%
45    Southwest Region         28      41   68.29%
46              Tanana          4       5   80.00%
47            Unalaska         29      32   90.63%
48              Valdez         33      45   73.33%
49            Wrangell         18      20   90.00%
50             Yakutat          1       3   33.33%
51         Yukon Flats         16      21   76.19%
52       Yukon-Koyukuk        113     206   54.85%
53              Yupiit         13      23   56.52%

In [20]:
len(AK)

54

Check for non-matches in the two lists

In [21]:
[name for name in list(AK['District']) if name not in fiscal_names]

['Alaska Gateway',
 'Aleutian Region',
 'Aleutians East',
 'Anchorage',
 'Annette Island',
 'Bering Strait',
 'Bristol Bay',
 'Chatham',
 'Chugach',
 'Copper River',
 'Cordova',
 'Craig',
 'Delta/Greely',
 'Denali',
 'Dillingham',
 'Fairbanks',
 'Galena',
 'Haines',
 'Hoonah',
 'Hydaburg',
 'Iditarod',
 'Juneau',
 'Kake',
 'Kashunamiut',
 'Kenai Peninsula',
 'Ketchikan',
 'Klawock',
 'Kodiak Island',
 'Kuspuk',
 'Lake and Peninsula',
 'Lower Kuskokwim',
 'Lower Yukon',
 'Mat-Su',
 'Mt Edgecumbe',
 'Nenana',
 'Nome',
 'North Slope',
 'Northwest Arctic',
 'Pelican',
 'Petersburg',
 'Pribilof',
 "Saint Mary's",
 'Sitka',
 'Skagway',
 'Southeast Island',
 'Southwest Region',
 'Tanana',
 'Unalaska',
 'Valdez',
 'Wrangell',
 'Yakutat',
 'Yukon Flats',
 'Yukon-Koyukuk',
 'Yupiit']

In [23]:
[name for name in fiscal_names if name not in list(AK['District'])]

['Lower Kuskokwim School District',
 'Lower Yukon School District',
 'Yupiit School District',
 'Kashunamiut School District',
 'Mount Edgecumbe High School Agency',
 'Aleutians East Borough School District',
 'Aleutian Region School District',
 'Bering Strait School District',
 'Bristol Bay Borough School District',
 'Alaska Gateway School District',
 'Cordova City School District',
 'Copper River School District',
 'Craig City School District',
 'Delta-Greely School District',
 'Dillingham City School District',
 'Galena City School District',
 'Ketchikan Gateway Borough School District',
 'Anchorage School District',
 'Juneau Borough School District',
 'Sitka School District',
 'Haines Borough School District',
 'Hoonah City School District',
 'Hydaburg City School District',
 'Kake City School District',
 'Kenai Peninsula Borough School District',
 'Klawock City School District',
 'Kodiak Island Borough School District',
 'Lake and Peninsula Borough School District',
 'Matanuska-Susitna Borough School District',
 'Iditarod Area School District',
 'Annette Island School District',
 'Nenana City School District',
 'Nome Public Schools',
 'Fairbanks North Star Borough School District',
 'North Slope Borough School District',
 'Northwest Arctic Borough School District',
 'Pelican City School District',
 'Petersburg Borough School District',
 'Pribilof School District',
 "Saint Mary's School District",
 'Skagway School District',
 'Southeast Island School District',
 'Southwest Region School District',
 'Tanana City School District',
 'Unalaska City School District',
 'Chatham School District',
 'Kuspuk School District',
 'Denali Borough School District',
 'Yukon Flats School District',
 'Valdez City School District',
 'Chugach School District',
 'Wrangell Public School District',
 'Yakutat School District',
 'Yukon-Koyukuk School District']

Names aren't lining up at all, but I'll see if I can match most of them up with some batch editing.

In [55]:
fiscal_AK = fiscal[fiscal['STNAME'] == 'Alaska']
fiscal_AK.head()

,LEAID,CENSUSID,FIPST,CONUM,CSA,CBSA,NAME,STNAME,STABBR,SCHLEV,...,FL_66V,FL_W01,FL_W31,FL_W61,FL_V95,FL_V02,FL_K14,FL_CE1,FL_CE2,FL_CE3
183,0200001,02000000030800,02,02050,N,N,Lower Kuskokwim School District,Alaska,AK,03,...,R,R,R,R,R,R,R,R,R,M
184,0200003,02000000031200,02,02158,N,N,Lower Yukon School District,Alaska,AK,03,...,R,R,R,R,R,R,R,R,R,M
185,0200004,02000000030300,02,02050,N,N,Yupiit School District,Alaska,AK,03,...,R,R,R,R,R,R,R,R,R,M
186,0200005,02000000031300,02,02158,N,N,Kashunamiut School District,Alaska,AK,03,...,R,R,R,R,I,R,R,R,R,M
187,0200006,02000000010100,02,02220,N,N,Mount Edgecumbe High School Agency,Alaska,AK,02,...,R,R,R,R,R,R,R,R,R,M

In [56]:
fiscal_AK['NAME'] = fiscal_AK['NAME'].astype(str).str.replace(' School District', '')
fiscal_AK['NAME'] = fiscal_AK['NAME'].astype(str).str.replace(' Borough', '')
fiscal_AK['NAME'] = fiscal_AK['NAME'].astype(str).str.replace(' City', '')
fiscal_AK['NAME'] = fiscal_AK['NAME'].astype(str).str.replace(' Public', '')
fiscal_AK['NAME'] = fiscal_AK['NAME'].astype(str).str.replace(' Schools', '')

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [57]:
fiscal_AK.head()

,LEAID,CENSUSID,FIPST,CONUM,CSA,CBSA,NAME,STNAME,STABBR,SCHLEV,...,FL_66V,FL_W01,FL_W31,FL_W61,FL_V95,FL_V02,FL_K14,FL_CE1,FL_CE2,FL_CE3
183,0200001,02000000030800,02,02050,N,N,Lower Kuskokwim,Alaska,AK,03,...,R,R,R,R,R,R,R,R,R,M
184,0200003,02000000031200,02,02158,N,N,Lower Yukon,Alaska,AK,03,...,R,R,R,R,R,R,R,R,R,M
185,0200004,02000000030300,02,02050,N,N,Yupiit,Alaska,AK,03,...,R,R,R,R,R,R,R,R,R,M
186,0200005,02000000031300,02,02158,N,N,Kashunamiut,Alaska,AK,03,...,R,R,R,R,I,R,R,R,R,M
187,0200006,02000000010100,02,02220,N,N,Mount Edgecumbe High School Agency,Alaska,AK,02,...,R,R,R,R,R,R,R,R,R,M

In [58]:
AK['District'] = AK['District'].astype(str)

In [59]:
[name for name in list(AK['District']) if name not in list(fiscal_AK['NAME'])]

['Delta/Greely',
 'Fairbanks',
 'Iditarod',
 'Ketchikan',
 'Mat-Su',
 'Mt Edgecumbe']

In [60]:
[name for name in list(fiscal_AK['NAME']) if name not in list(AK['District'])]

['Mount Edgecumbe High School Agency',
 'Delta-Greely',
 'Ketchikan Gateway',
 'Matanuska-Susitna',
 'Iditarod Area',
 'Fairbanks North Star']

Replace remaining names with appropriate formattings.

In [61]:
AK_fiscal_rename = {
 'Mount Edgecumbe High School Agency' : 'Mt Edgecumbe',
 'Delta-Greely' : 'Delta/Greely',
 'Ketchikan Gateway' : 'Ketchikan',
 'Matanuska-Susitna' : 'Mat-Su',
 'Iditarod Area' : 'Iditarod',
 'Fairbanks North Star' : 'Fairbanks'
}

In [62]:
fiscal_AK = fiscal_AK.replace(AK_fiscal_rename)

Examine data types and missing values.

In [64]:
AK.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   District   54 non-null     object
 1   Graduates  54 non-null     int64
 2   Cohort     54 non-null     int64
 3   Rate       54 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.8+ KB

Change column names for consistency across states.

In [65]:
AK = AK[['District', 'Cohort', 'Rate']]
AK.columns = ['District Name', 'Total', 'Graduation Rate']

In [66]:
AK

         District Name  Total Graduation Rate
0       Alaska Gateway     24          54.17%
1      Aleutian Region      2          50.00%
2       Aleutians East     18          88.89%
3            Anchorage   3551          80.71%
4       Annette Island     28          96.43%
5        Bering Strait    108          75.00%
6          Bristol Bay     16         100.00%
7              Chatham     13          84.62%
8              Chugach     26          69.23%
9         Copper River     38          50.00%
10             Cordova     22          81.82%
11               Craig     37          64.86%
12        Delta/Greely     53          86.79%
13              Denali     51          64.71%
14          Dillingham     38          65.79%
15           Fairbanks    908          78.19%
16              Galena    412          80.34%
17              Haines     23          78.26%
18              Hoonah      9         100.00%
19            Hydaburg     12          75.00%
20            Iditarod     27          40.74%
21              Juneau    354          83.05%
22                Kake      8          75.00%
23         Kashunamiut     15          60.00%
24     Kenai Peninsula    618          85.44%
25           Ketchikan    186          83.87%
26             Klawock     12          66.67%
27       Kodiak Island    181          86.19%
28              Kuspuk     20          75.00%
29  Lake and Peninsula     25          76.00%
30     Lower Kuskokwim    291          61.17%
31         Lower Yukon    138          61.59%
32              Mat-Su   1413          83.23%
33        Mt Edgecumbe    101          99.01%
34              Nenana    174          38.51%
35                Nome     43          76.74%
36         North Slope    135          68.15%
37    Northwest Arctic    124          75.81%
38             Pelican      0             n/a
39          Petersburg     48          89.58%
40            Pribilof      0             n/a
41        Saint Mary's     12          66.67%
42               Sitka    115          76.52%
43             Skagway      8          87.50%
44    Southeast Island     14          85.71%
45    Southwest Region     41          68.29%
46              Tanana      5          80.00%
47            Unalaska     32          90.63%
48              Valdez     45          73.33%
49            Wrangell     20          90.00%
50             Yakutat      3          33.33%
51         Yukon Flats     21          76.19%
52       Yukon-Koyukuk    206          54.85%
53              Yupiit     23          56.52%

Drop the districts with 0 students for the year.

In [67]:
AK = AK[AK['Total'] > 0]

Change data types.

In [70]:
AK['Graduation Rate'] = AK['Graduation Rate'].astype(str).str.replace('%', '')

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [71]:
AK['Graduation Rate'] = pd.to_numeric(AK['Graduation Rate']) / 100

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [74]:
AK = AK.reset_index(drop=True)

Merge federal and state data, keeping only matches between the two.

In [75]:
AK_merged = pd.merge(fiscal_AK, AK, how='inner', left_on='NAME', right_on='District Name')

Save cleaned data.

In [77]:
AK_merged.to_csv('../../data/state_data_merged/AK.csv', index=False)