In [1]:
import pandas as pd
import numpy as np

In [2]:
abbr = 'HI'

Read in federal level data

In [3]:
fiscal = pd.read_sas('../../data/fiscal2018', format = 'sas7bdat', encoding='iso-8859-1')

Generate list of districts in the state in the federal data

In [4]:
state_fiscal = fiscal[(fiscal['STABBR'] == abbr)]

In [5]:
len(state_fiscal)

1

In [6]:
state_fiscal.head()

,LEAID,CENSUSID,FIPST,CONUM,CSA,CBSA,NAME,STNAME,STABBR,SCHLEV,...,FL_66V,FL_W01,FL_W31,FL_W61,FL_V95,FL_V02,FL_K14,FL_CE1,FL_CE2,FL_CE3
3326,1500030,12000000030000,15,15003,N,46520,Hawaii Department of Education,Hawaii,HI,03,...,R,R,R,R,R,R,I,R,R,R

With only a single listed district in the state of Hawaii, instead of reading in the data file, we will just use the state graduation rate for 2017-2018.

Source: https://www.hawaiipublicschools.org/VisionForSuccess/AdvancingEducation/StrategicPlan/Pages/SPDR-1grad.aspx

In [7]:
state_grads = pd.DataFrame(
    {
        'District Name' : ['Hawaii Department of Education'],
        'Total' : [''],
        'Graduation Rate' : [.84]
    }
)

In [8]:
state_grads

                    District Name Total  Graduation Rate
0  Hawaii Department of Education                   0.84

Merge federal and state data, keeping only matches between the two.

In [9]:
state_grads_merged = pd.merge(state_fiscal, state_grads, how='inner', left_on='NAME', right_on='District Name')

Save cleaned data.

In [10]:
state_grads_merged.to_csv('../../data/state_data_merged/' + abbr + '.csv', index=False)