In [1]:
import pandas as pd
import numpy as np
from tabula import read_pdf

In [2]:
abbr = 'MS'

In [3]:
file = 'mississippi2020.pdf'

Read in federal level data

In [4]:
fiscal = pd.read_sas('../../data/fiscal2018', format = 'sas7bdat', encoding='iso-8859-1')

Generate list of districts in the state in the federal data

In [5]:
state_fiscal = fiscal[(fiscal['STABBR'] == abbr) & (fiscal['GSHI'] == '12')]

In [6]:
len(state_fiscal)

150

In [7]:
state_fiscal.head()

,LEAID,CENSUSID,FIPST,CONUM,CSA,CBSA,NAME,STNAME,STABBR,SCHLEV,...,FL_66V,FL_W01,FL_W31,FL_W61,FL_V95,FL_V02,FL_K14,FL_CE1,FL_CE2,FL_CE3
8300,2800031,N,28,28085,298,15020,MS SCHOOL FOR THE ARTS,Mississippi,MS,02,...,M,R,R,R,M,M,M,M,M,M
8301,2800183,N,28,28047,N,25060,ROGER AMOS MCMURTRY ADM,Mississippi,MS,02,...,N,N,N,N,N,N,N,N,N,N
8302,2800185,25500610100000,28,28011,185,17380,WEST BOLIVAR CONS SCHOOL DIST,Mississippi,MS,03,...,R,R,R,R,M,M,M,M,M,M
8303,2800186,25500610200000,28,28011,185,17380,NORTH BOLIVAR CONS SCHOOL DIST,Mississippi,MS,03,...,M,R,R,R,M,M,M,M,M,M
8304,2800187,25506710100000,28,28133,185,26940,SUNFLOWER CONS SCHOOL DIST,Mississippi,MS,03,...,R,R,R,R,M,M,M,M,M,M

Read in state level data

In [8]:
state_pdf = read_pdf('../../data/state_data_raw/' + file, pages=list(range(14, 19)))

In [9]:
state_grads = pd.concat(state_pdf)

In [10]:
state_grads.head()

                   District Name N-Count 4-Year Graduation Rate
0       Aberdeen School District      95                  81.1%
1         Alcorn School District     226                  94.7%
2   Amite County School District      60                  73.3%
3          Amory School District     137                  81.8%
4  Attala County School District      83                  83.1%

In [11]:
state_grads.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 155 entries, 0 to 14
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   District Name           155 non-null    object
 1   N-Count                 155 non-null    object
 2   4-Year Graduation Rate  155 non-null    object
dtypes: object(3)
memory usage: 4.8+ KB

Select and rename columns.

In [12]:
state_grads.columns = ['District Name', 'Total', 'Graduation Rate']

In [13]:
state_grads

                           District Name  Total Graduation Rate
0               Aberdeen School District     95           81.1%
1                 Alcorn School District    226           94.7%
2           Amite County School District     60           73.3%
3                  Amory School District    137           81.8%
4          Attala County School District     83           83.1%
..                                   ...    ...             ...
10      Wilkinson County School District    124           77.4%
11       Winona Separate School District     74           86.5%
12  Yazoo City Municipal School District    139           71.2%
13          Yazoo County School District    136           81.6%
14                  State of Mississippi  33936           85.0%

[155 rows x 3 columns]

Convert data types.

In [14]:
state_grads['Graduation Rate'] = state_grads['Graduation Rate'].astype(str).str.replace('%', '')
state_grads = state_grads.replace('**', '')

In [15]:
state_grads['Total'] = pd.to_numeric(state_grads['Total'])
state_grads['Graduation Rate'] = pd.to_numeric(state_grads['Graduation Rate']) / 100

Check for matches and non-matches in the two lists. 
Names all capitalized to catch as many matches as possible.

In [16]:
state_grads['District Name'] = state_grads['District Name'].astype(str).str.upper()
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.upper()

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [17]:
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('.', '')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(',', '')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' DISTRICT', '')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' DIST', '')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' PUBLIC', '')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' SCHOOLS', '')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' SCHOOL', '')

state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('MS ', 'MISSISSIPPI ')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sCO$', ' COUNTY')

state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace('.', '')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(',', '')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' DISTRICT', '')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' DIST', '')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' PUBLIC', '')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' SCHOOLS', '')
state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' SCHOOL', '')

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  # Remove the CWD from sys.path while we load stuff.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  if sys.path[0] == '':

In [18]:
matches = [name for name in list(state_grads['District Name']) if name in list(state_fiscal['NAME'])]
matches.sort()
len(matches)

136

In [19]:
A = [name for name in list(state_grads['District Name']) if name not in list(state_fiscal['NAME'])]
A.sort()
A

['COAHOMA COUNTY AHS',
 'EAST JASPER CONSOLIDATED',
 'EAST TALLAHATCHIE CONSOLIDATED',
 'ELLISVILLE STATE',
 'FORREST COUNTY AHS',
 'HOUSTON',
 'HUDSPETH CENTER',
 'MAGNOLIA GROVE',
 'MISSISSIPPI FOR THE BLIND',
 'MISSISSIPPI OF THE ARTS',
 'MISSISSIPPI STATE HOSPITAL',
 'NORTH BOLIVAR CONSOLIDATED',
 'PASCAGOULA GAUTIER',
 'ROGER AMOS MCMURTRY',
 'STARKVILLE-OKTIBBEHA CONSOLIDATED',
 'STATE OF MISSISSIPPI',
 'SUNFLOWER COUNTY CONSOLIDATED',
 'TISHOMINGO COUNTY',
 'WEST BOLIVAR CONSOLIDATED']

In [20]:
B = [name for name in list(state_fiscal['NAME']) if name not in list(state_grads['District Name'])]
B.sort()
B

['COAHOMA EARLY COLLEGE',
 'EAST JASPER CONSOLIDATED SCH',
 'EAST TALLAHATCHIE CONSOL SCH',
 'FORREST COUNTY AG HIGH',
 'HOUSTON ',
 'MISSISSIPPI FOR THE ARTS',
 'MISSISSIPPI SCH FOR THE BLIND',
 'NORTH BOLIVAR CONS',
 'PASCAGOULA-GAUTIER',
 'ROGER AMOS MCMURTRY ADM',
 'STARKVILLE- OKTIBBEHA CONS',
 'SUNFLOWER CONS',
 'TISHOMINGO CO SP MUN SCH',
 'WEST BOLIVAR CONS']

Rename the remaining samples I can find matches for.

In [21]:
state_fiscal_rename = {
    'EAST JASPER CONSOLIDATED SCH' : 'EAST JASPER CONSOLIDATED',
    'EAST TALLAHATCHIE CONSOL SCH' : 'EAST TALLAHATCHIE CONSOLIDATED',
    'FORREST COUNTY AG HIGH' : 'FORREST COUNTY AHS',
    'HOUSTON ' : 'HOUSTON',
    'MISSISSIPPI FOR THE ARTS' : 'MISSISSIPPI OF THE ARTS',
    'MISSISSIPPI SCH FOR THE BLIND' : 'MISSISSIPPI FOR THE BLIND',
    'NORTH BOLIVAR CONS' : 'NORTH BOLIVAR CONSOLIDATED',
    'PASCAGOULA-GAUTIER' : 'PASCAGOULA GAUTIER',
    'ROGER AMOS MCMURTRY ADM' : 'ROGER AMOS MCMURTRY',
    'STARKVILLE- OKTIBBEHA CONS' : 'STARKVILLE-OKTIBBEHA CONSOLIDATED',
    'SUNFLOWER CONS' : 'SUNFLOWER COUNTY CONSOLIDATED',
    'TISHOMINGO CO SP MUN SCH' : 'TISHOMINGO COUNTY',
    'WEST BOLIVAR CONS' : 'WEST BOLIVAR CONSOLIDATED'
}

In [22]:
state_fiscal = state_fiscal.replace(state_fiscal_rename)

Merge federal and state data, keeping only matches between the two.

In [23]:
state_grads_merged = pd.merge(state_fiscal, state_grads, how='inner', left_on='NAME', right_on='District Name')

Save cleaned data.

In [24]:
state_grads_merged.to_csv('../../data/state_data_merged/' + abbr + '.csv', index=False)