In [27]:
import warnings
warnings.filterwarnings('ignore')

In [28]:
import pandas as pd
import numpy as np

In [29]:
abbr = 'NY'

In [30]:
file = 'new_york2018.csv'

Read in federal level data

In [31]:
fiscal = pd.read_sas('../../data/fiscal2018', format = 'sas7bdat', encoding='iso-8859-1')

Generate list of districts in the state in the federal data

In [32]:
state_fiscal = fiscal[(fiscal['STABBR'] == abbr) & (fiscal['GSHI'] == '12')]

In [33]:
len(state_fiscal)

794

Read in state level data

In [35]:
state_grads = pd.read_csv('../../data/state_data_raw/' + file)

Reset columns.

In [36]:
state_grads

,REPORT_SCHOOL_YEAR,AGGREGATION_INDEX,AGGREGATION_TYPE,AGGREGATION_CODE,AGGREGATION_NAME,LEA_BEDS,LEA_NAME,NRC_CODE,NRC_DESC,COUNTY_CODE,...,REG_ADV_CNT,REG_ADV_PCT,NON_DIPLOMA_CREDENTIAL_CNT,NON_DIPLOMA_CREDENTIAL_PCT,STILL_ENR_CNT,STILL_ENR_PCT,GED_CNT,GED_PCT,DROPOUT_CNT,DROPOUT_PCT
0,2017-18,0,Statewide,0,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,65224,31%,2839,1%,6009,3%,1275,1%,19072,9%
1,2017-18,0,Statewide,0,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,35444,35%,1012,1%,2284,2%,492,0%,7704,8%
2,2017-18,0,Statewide,0,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,29780,28%,1827,2%,3725,4%,783,1%,11368,11%
3,2017-18,0,Statewide,0,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,179,15%,36,3%,52,4%,13,1%,205,17%
4,2017-18,0,Statewide,0,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,3984,11%,721,2%,1796,5%,322,1%,5146,14%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116441,2017-18,4,School,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,6.808010e+11,DUNDEE CENTRAL SCHOOL DISTRICT,4.0,Rural High Needs,68.0,...,0,0%,2,22%,3,33%,0,0%,1,11%
116442,2017-18,4,School,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,6.808010e+11,DUNDEE CENTRAL SCHOOL DISTRICT,4.0,Rural High Needs,68.0,...,-,-,-,-,-,-,-,-,-,-
116443,2017-18,4,School,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,6.808010e+11,DUNDEE CENTRAL SCHOOL DISTRICT,4.0,Rural High Needs,68.0,...,3,9%,2,6%,6,19%,0,0%,2,6%
116444,2017-18,4,School,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,6.808010e+11,DUNDEE CENTRAL SCHOOL DISTRICT,4.0,Rural High Needs,68.0,...,4,27%,0,0%,1,7%,0,0%,0,0%
116445,2017-18,4,School,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,6.808010e+11,DUNDEE CENTRAL SCHOOL DISTRICT,4.0,Rural High Needs,68.0,...,-,-,-,-,-,-,-,-,-,-

Filter results.

In [39]:
state_grads = state_grads[(state_grads['AGGREGATION_TYPE'] == 'District') &
                         (state_grads['SUBGROUP_NAME'] == 'All Students') &
                         (state_grads['MEMBERSHIP_DESC'] == '2014 Total Cohort - 4 Year Outcome')]

In [40]:
state_grads

,REPORT_SCHOOL_YEAR,AGGREGATION_INDEX,AGGREGATION_TYPE,AGGREGATION_CODE,AGGREGATION_NAME,LEA_BEDS,LEA_NAME,NRC_CODE,NRC_DESC,COUNTY_CODE,...,REG_ADV_CNT,REG_ADV_PCT,NON_DIPLOMA_CREDENTIAL_CNT,NON_DIPLOMA_CREDENTIAL_PCT,STILL_ENR_CNT,STILL_ENR_PCT,GED_CNT,GED_PCT,DROPOUT_CNT,DROPOUT_PCT
676,2017-18,3,District,10100010000,ALBANY CITY SCHOOL DISTRICT,NaN,NaN,3.0,Urban-Suburban High Needs,1.0,...,101,15%,16,2%,93,14%,7,1%,125,18%
915,2017-18,3,District,10201040000,BERNE-KNOX-WESTERLO CENTRAL SCHOOL DISTRICT,NaN,NaN,5.0,Average Needs,1.0,...,35,46%,2,3%,1,1%,0,0%,1,1%
1010,2017-18,3,District,10306060000,BETHLEHEM CENTRAL SCHOOL DISTRICT,NaN,NaN,6.0,Low Needs,1.0,...,251,59%,4,1%,3,1%,0,0%,14,3%
1136,2017-18,3,District,10402060000,RAVENA-COEYMANS-SELKIRK CENTRAL SCHOOL DISTRICT,NaN,NaN,5.0,Average Needs,1.0,...,44,30%,6,4%,7,5%,0,0%,8,5%
1254,2017-18,3,District,10500010000,COHOES CITY SCHOOL DISTRICT,NaN,NaN,3.0,Urban-Suburban High Needs,1.0,...,33,26%,10,8%,13,10%,0,0%,16,12%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115888,2017-18,3,District,670401040000,LETCHWORTH CENTRAL SCHOOL DISTRICT,NaN,NaN,5.0,Average Needs,67.0,...,19,26%,0,0%,1,1%,0,0%,2,3%
115983,2017-18,3,District,671201060000,PERRY CENTRAL SCHOOL DISTRICT,NaN,NaN,5.0,Average Needs,67.0,...,22,41%,1,2%,2,4%,0,0%,4,7%
116080,2017-18,3,District,671501040000,WARSAW CENTRAL SCHOOL DISTRICT,NaN,NaN,5.0,Average Needs,67.0,...,23,33%,1,1%,4,6%,0,0%,1,1%
116253,2017-18,3,District,680601060000,PENN YAN CENTRAL SCHOOL DISTRICT,NaN,NaN,4.0,Rural High Needs,68.0,...,45,36%,1,1%,11,9%,0,0%,15,12%
116375,2017-18,3,District,680801040000,DUNDEE CENTRAL SCHOOL DISTRICT,NaN,NaN,4.0,Rural High Needs,68.0,...,7,14%,2,4%,9,18%,0,0%,3,6%

Select and rename columns.

In [42]:
state_grads = state_grads[['AGGREGATION_NAME', 'ENROLL_CNT', 'GRAD_PCT']]

In [43]:
state_grads.columns = ['District Name', 'Total', 'Graduation Rate']

In [44]:
state_grads.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 680 entries, 676 to 116375
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   District Name    680 non-null    object
 1   Total            680 non-null    object
 2   Graduation Rate  680 non-null    object
dtypes: object(3)
memory usage: 21.2+ KB

Convert data types.

In [48]:
state_grads['Graduation Rate'] = state_grads['Graduation Rate'].astype(str).str.replace('%', '')
state_grads = state_grads.replace('-', '')

In [49]:
state_grads['Total'] = pd.to_numeric(state_grads['Total'])
state_grads['Graduation Rate'] = pd.to_numeric(state_grads['Graduation Rate']) / 100

Check for matches and non-matches in the two lists.

In [55]:
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.upper().str.strip()
state_grads['District Name'] = state_grads['District Name'].astype(str).str.upper().str.strip()

In [19]:
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' SCHOOL DISTRICT', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace('SCH DIST', 'SCHOOL DISTRICT')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' CS', ' CHARTER SCHOOL')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sHIGH\sSCHOOL$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sSCHOOL$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' PUBLIC SCHOOLS', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' CO ', ' COUNTY ')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' BORO', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' CITY', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace('TWP', 'TOWNSHIP')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sREG(\s|$)', ' REGIONAL ')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sTOWN$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sTOWNSHIP$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sBORO$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sPUBLIC$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace('H.S DIST.', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'^N\s', 'NORTH ')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'^W\s', 'WEST ')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace("’", "'")
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' REGIONAL', '')

# state_grads['District Name'] = state_grads['District Name'].astype(str).str.strip()

# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' BOARD OF EDUCATION', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' VOCATIONAL TECHNICAL', ' VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' CITY', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' PUBLIC SCHOOLS', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' PUBLIC', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' SCHOOL DISTRICT', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sHIGH\sSCHOOL$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sSCHOOL$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sTOWNSHIP$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sTOWN$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sBOROUGH$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sBORO$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sDISTRICT$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('VOCATIONAL AND TECHNICAL', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('VOCATIONAL-TECHNICAL', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('TECHNICAL', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('INSTITUTE OF TECHNOLOGY', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('SCHOOLS OF TECHNOLOGY', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sHIGH$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' REGIONAL', '')

# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.strip()

In [56]:
matches = [name for name in list(state_grads['District Name']) if name in list(state_fiscal['NAME'])]
matches.sort()
len(matches)

678

In [57]:
A = [name for name in list(state_grads['District Name']) if name not in list(state_fiscal['NAME'])]
A.sort()
A

['KIRYAS JOEL VILLAGE UNION FREE SCHOOL DISTRICT',
 'THE ENLARGED CITY SCHOOL DISTRICT OF THE CITY OF SARATOGA SPRINGS']

In [54]:
B = [name for name in list(state_fiscal['NAME']) if name not in list(state_grads['District Name'])]
B.sort()
B

['ACHIEVEMENT FIRST CROWN HEIGHTS CHARTER SCHOOL',
 'ACHIEVEMENT FIRST EAST NEW YORK CHARTER SCHOOL',
 'ACHIEVEMENT FIRST ENDEAVOR CHARTER SCHOOL',
 'ACHIEVEMENT FIRST-BUSHWICK CHARTER SCHOOL',
 'ALBANY LEADERSHIP CHARTER HIGH SCHOOL FOR GIRLS',
 'ALBANY-SCHOHARIE-SCHENECTADY-SARATOGA BOCES',
 'BRONX LIGHTHOUSE CHARTER SCHOOL',
 'BRONX PREPARATORY CHARTER SCHOOL',
 'BROOKLYN EMERGING LEADERS ACADEMY CHARTER SCHOOL',
 'BROOKLYN PROSPECT CHARTER SCHOOL-CSD 15',
 'BROOME STREET ACADEMY CHARTER HIGH SCHOOL',
 'BROOME-DELAWARE-TIOGA BOCES',
 'BUFFALO ACADEMY OF SCIENCE CHARTER SCHOOL',
 'CATTARAUGUS-ALLEGANY-ERIE-WYOMING BOCES',
 'CAYUGA-ONONDAGA BOCES',
 'CHARTER SCHOOL FOR APPLIED TECHNOLOGIES',
 'CLINTON-ESSEX-WARREN-WASHINGTON BOCES',
 'CONEY ISLAND PREPARATORY PUBLIC CHARTER SCHOOL',
 'DELAWARE-CHENANGO-MADISON-OTSEGO BOCES',
 'DEMOCRACY PREP HARLEM CHARTER SCHOOL',
 'DEMOCRACY PREPARATORY CHARTER SCHOOL',
 'DR RICHARD IZQUIERDO HEALTH AND SCIENCE CHARTER SCHOOL',
 'DUTCHESS BOCES',
 'EASTERN SUFFOLK BOCES',
 'EQUALITY CHARTER SCHOOL',
 'ERIE 1 BOCES',
 'ERIE 2-CHAUTAUQUA-CATTARAUGUS BOCES',
 'EXCELLENCE GIRLS CHARTER SCHOOL',
 'FRANKLIN-ESSEX-HAMILTON BOCES',
 'GENESEE VALLEY BOCES',
 'GLOBAL CONCEPTS CHARTER SCHOOL',
 'GREEN TECH HIGH CHARTER SCHOOL',
 'HAMILTON-FULTON-MONTGOMERY BOCES',
 "HARLEM CHILDREN'S ZONE PROMISE ACADEMY CHARTER SCHOOL",
 "HARLEM CHILDREN'S ZONE PROMISE ACADEMY II CHARTER SCHOOL",
 'HARLEM VILLAGE ACADEMY CHARTER SCHOOL',
 'HARLEM VILLAGE ACADEMY LEADERSHIP CHARTER SCHOOL',
 'HEALTH SCIENCES CHARTER SCHOOL',
 'HERKIMER-FULTON-HAMILTON-OTSEGO BOCES',
 'HYDE LEADERSHIP CHARTER SCHOOL',
 'INTERNATIONAL LEADERSHIP CHARTER SCHOOL',
 'INWOOD ACADEMY FOR LEADERSHIP CHARTER SCHOOL',
 'JEFFERSON-LEWIS-HAMILTON-HERKIMER-ONEIDA BOCES',
 'JOHN V LINDSAY WILDCAT ACADEMY CHARTER SCHOOL',
 'JOHN W LAVELLE PREPARATORY CHARTER SCHOOL',
 'KIPP ACADEMY CHARTER SCHOOL',
 'KIPP ALWAYS MENTALLY PREPARED CHARTER SCHOOL',
 'KIPP INFINITY CHARTER SCHOOL',
 'KIPP NYC WASHINGTON HEIGHTS ACADEMY CHARTER SCHOOL',
 'KIPP STAR COLLEGE PREP CHARTER',
 'LEADERSHIP PREPARATORY BEDFORD STUYVESANT CHARTER SCHOOL',
 'LEADERSHIP PREPARATORY OCEAN HILL CHARTER SCHOOL',
 'MADISON-ONEIDA BOCES',
 'MATH ENGINEERING AND SCIENCE ACADEMY CHARTER HIGH SCHOOL',
 'MONROE 1 BOCES',
 'MONROE 2-ORLEANS BOCES',
 'NASSAU BOCES',
 'NEW DAWN CHARTER HIGH SCHOOL',
 'NEW HEIGHTS ACADEMY CHARTER SCHOOL',
 'NEW ROOTS CHARTER SCHOOL',
 'NEW VENTURES CHARTER SCHOOL',
 'NEW VISIONS AIM CHARTER HIGH SCHOOL I',
 'NEW VISIONS AIM CHARTER HIGH SCHOOL II',
 'NEW VISIONS CHARTER HIGH SCHOOL FOR HUMANITIES II',
 'NEW VISIONS CHARTER HIGH SCHOOL FOR THE HUMANITIES',
 'NEW VISIONS CHARTER HIGH SCHOOL FOR THE HUMANITIES III',
 'NEW VISIONS CHARTER HS-ADV MATH/SCIE',
 'NEW VISIONS CHTR HS-ADV MA/SCI II',
 'NEW VISIONS CHTR HS-ADV MA/SCI III',
 'NEW YORK STATE OFFICE MENTAL HEALTH (OMH)',
 'NEW YORK STATE OFFICE OF CHILDREN AND FAMILY SERVICES (OCFS)',
 'NEW YORK STATE SCHOOL FOR THE BLIND',
 'NEW YORK STATE SCHOOL FOR THE DEAF',
 'NEWBURGH PREPARATORY CHARTER HIGH SCHOOL',
 'NORTHSIDE CHARTER HIGH SCHOOL',
 "NYC CHANCELLOR'S OFFICE",
 'NYC CHARTER HS - AECI',
 'NYC SPECIAL SCHOOLS - DISTRICT 75',
 'ONEIDA-HERKIMER-MADISON BOCES',
 'ONONDAGA-CORTLAND-MADISON BOCES',
 'ONTARIO-SENECA-YATES-CAYUGA-WAYNE BOCES',
 'OPPORTUNITY CHARTER SCHOOL',
 'ORACLE CHARTER SCHOOL',
 'ORANGE-ULSTER BOCES',
 'ORLEANS-NIAGARA BOCES',
 'OSWEGO BOCES',
 'OTSEGO-DELAWARE-SCHOHARIE-GREENE BOCES',
 'PUTNAM-WESTCHESTER BOCES',
 'RENAISSANCE CHARTER SCHOOL',
 'RENSAISSANCE CHARTER HIGH SCHOOL FOR INNOVATION',
 'RENSSELAER-COLUMBIA-GREENE BOCES',
 'ROCHESTER ACADEMY CHARTER SCHOOL',
 'ROCKLAND BOCES',
 'SAINT LAWRENCE-LEWIS BOCES',
 'SARATOGA SPRINGS CITY SD',
 'SCHUYLER-STEUBEN-CHEMUNG-TIOGA-ALLEGANY BOCES',
 'SUCCESS ACADEMY CHARTER SCHOOL-HARLEM 1',
 'SUFFERN CENTRAL SCHOOL DISTRICT',
 'SULLIVAN BOCES',
 'SUMMIT ACADEMY CHARTER SCHOOL',
 'SYRACUSE ACADEMY OF SCIENCE CHARTER SCHOOL',
 'TAPESTRY CHARTER SCHOOL',
 'TOMPKINS-SENECA-TIOGA BOCES',
 'TRUE NORTH ROCHESTER PREPARATORY CHARTER SCHOOL',
 'UFT CHARTER SCHOOL',
 'ULSTER BOCES',
 'UNIVERSITY PREP CHARTER HIGH SCHOOL',
 'UNIVERSITY PREPARATORY CHARTER SCHOOL FOR YOUNG MEN',
 'URBAN DOVE TEAM CHARTER SCHOOL',
 'UTICA ACADEMY OF SCIENCE CHARTER SCHOOL',
 'VERTUS CHARTER SCHOOL',
 'WASHINGTON-SARATOGA-WARREN-HAMILTON-ESSEX BOCES',
 'WESTCHESTER BOCES',
 'WESTERN NEW YORK MARITIME CHARTER SCHOOL',
 'WESTERN SUFFOLK BOCES',
 'WILLIAMSBURG CHARTER HIGH SCHOOL',
 "YOUNG WOMEN'S COLLEGE PREP CHARTER SCHOOL OF ROCHESTER"]

Match any remaining samples I can find.

In [23]:
state_fiscal_rename = {
    'SARATOGA SPRINGS CITY SD' : 'THE ENLARGED CITY SCHOOL DISTRICT OF THE CITY OF SARATOGA SPRINGS'
}

In [24]:
#state_fiscal = state_fiscal.replace(state_fiscal_rename)

Merge federal and state data, keeping only matches between the two.

In [25]:
state_grads_merged = pd.merge(state_fiscal, state_grads, how='inner', left_on='NAME', right_on='District Name')

Save cleaned data.

In [26]:
state_grads_merged.to_csv('../../data/state_data_merged/' + abbr + '.csv', index=False)