In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np

In [3]:
abbr = 'OK'

In [4]:
file = 'oklahoma2017.xlsx'

Read in federal level data

In [5]:
fiscal = pd.read_sas('../../data/fiscal2018', format = 'sas7bdat', encoding='iso-8859-1')

Generate list of districts in the state in the federal data

In [6]:
state_fiscal = fiscal[(fiscal['STABBR'] == abbr) & (fiscal['GSHI'] == '12')]

In [7]:
len(state_fiscal)

434

Read in state level data

In [9]:
state_grads = pd.read_excel('../../data/state_data_raw/' + file)

In [10]:
state_grads

,CohortGraduationYear,EducationAgencyType,Countycode,Districtcode,SiteCode,FullCode,CountyName,DistrictName,SchoolName,GradeLevelLow,GradeLevelHigh,ReportSubgroup,FourYearGraduationRate
0,2017,State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PK,12.0,All,83%
1,2017,State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PK,12.0,Economically Disadvantaged,77%
2,2017,State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PK,12.0,Individual Education Plan,77%
3,2017,State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PK,12.0,English Language Learner,67%
4,2017,State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PK,12.0,American Indian,83%
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7659,2017,District,77.0,I005,NaN,NaN,WOODWARD,Fort Supply,NaN,PK,12.0,Individual Education Plan,***
7660,2017,District,77.0,I005,NaN,NaN,WOODWARD,Fort Supply,NaN,PK,12.0,American Indian,***
7661,2017,District,77.0,I005,NaN,NaN,WOODWARD,Fort Supply,NaN,PK,12.0,Multi-Race,***
7662,2017,District,77.0,I005,NaN,NaN,WOODWARD,Fort Supply,NaN,PK,12.0,White,***
7663,2017,District,77.0,I005,NaN,NaN,WOODWARD,Fort Supply,NaN,PK,12.0,Regular Education,***

Filter results.

In [11]:
state_grads = state_grads[(state_grads['EducationAgencyType'] == 'District') &
                         (state_grads['ReportSubgroup'] == 'All')]

In [12]:
state_grads

,CohortGraduationYear,EducationAgencyType,Countycode,Districtcode,SiteCode,FullCode,CountyName,DistrictName,SchoolName,GradeLevelLow,GradeLevelHigh,ReportSubgroup,FourYearGraduationRate
3972,2017,District,1.0,I004,NaN,NaN,ADAIR,Watts,NaN,PK,12.0,All,>= 80%
3982,2017,District,1.0,I011,NaN,NaN,ADAIR,Westville,NaN,PK,12.0,All,90%
3992,2017,District,1.0,I025,NaN,NaN,ADAIR,Stilwell,NaN,PK,12.0,All,79%
4001,2017,District,1.0,I030,NaN,NaN,ADAIR,Cave Springs,NaN,PK,12.0,All,77%
4008,2017,District,2.0,I001,NaN,NaN,ALFALFA,Burlington,NaN,PK,12.0,All,100%
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7626,2017,District,76.0,I006,NaN,NaN,WOODS,Freedom,NaN,PK,12.0,All,***
7632,2017,District,77.0,I001,NaN,NaN,WOODWARD,Woodward,NaN,PK,12.0,All,87%
7643,2017,District,77.0,I002,NaN,NaN,WOODWARD,Mooreland,NaN,PK,12.0,All,84%
7651,2017,District,77.0,I003,NaN,NaN,WOODWARD,Sharon-Mutual,NaN,PK,12.0,All,>= 80%
7657,2017,District,77.0,I005,NaN,NaN,WOODWARD,Fort Supply,NaN,PK,12.0,All,***

Select and rename columns.

In [13]:
state_grads['Total'] = np.full_like(state_grads['FourYearGraduationRate'], '')

In [14]:
state_grads = state_grads[['DistrictName', 
                           'Total', 
                           'FourYearGraduationRate']]

In [15]:
state_grads.columns = ['District Name', 'Total', 'Graduation Rate']

In [16]:
state_grads.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 435 entries, 3972 to 7657
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   District Name    435 non-null    object
 1   Total            435 non-null    object
 2   Graduation Rate  435 non-null    object
dtypes: object(3)
memory usage: 13.6+ KB

Convert data types.

In [26]:
state_grads['Graduation Rate'] = state_grads['Graduation Rate'].astype(str).str.replace('>= ', '')
state_grads['Graduation Rate'] = state_grads['Graduation Rate'].astype(str).str.replace('<= ', '')
state_grads['Graduation Rate'] = state_grads['Graduation Rate'].astype(str).str.replace('%', '')
state_grads['Graduation Rate'] = state_grads['Graduation Rate'].astype(str).str.replace('\*\*\*', '')

In [27]:
state_grads['Total'] = pd.to_numeric(state_grads['Total'])
state_grads['Graduation Rate'] = pd.to_numeric(state_grads['Graduation Rate']) / 100

Check for matches and non-matches in the two lists.

In [33]:
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.upper().str.strip()
state_grads['District Name'] = state_grads['District Name'].astype(str).str.upper().str.strip()

In [17]:
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' SCHOOL DISTRICT', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace('SCH DIST', 'SCHOOL DISTRICT')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' CS', ' CHARTER SCHOOL')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sHIGH\sSCHOOL$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sSCHOOL$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' PUBLIC SCHOOLS', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' CO ', ' COUNTY ')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' BORO', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' CITY', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace('TWP', 'TOWNSHIP')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sREG(\s|$)', ' REGIONAL ')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sTOWN$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sTOWNSHIP$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sBORO$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sPUBLIC$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace('H.S DIST.', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'^N\s', 'NORTH ')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'^W\s', 'WEST ')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace("â€™", "'")
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' REGIONAL', '')

# state_grads['District Name'] = state_grads['District Name'].astype(str).str.strip()

# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' BOARD OF EDUCATION', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' VOCATIONAL TECHNICAL', ' VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' CITY', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' PUBLIC SCHOOLS', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' PUBLIC', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' SCHOOL DISTRICT', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sHIGH\sSCHOOL$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sSCHOOL$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sTOWNSHIP$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sTOWN$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sBOROUGH$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sBORO$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sDISTRICT$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('VOCATIONAL AND TECHNICAL', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('VOCATIONAL-TECHNICAL', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('TECHNICAL', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('INSTITUTE OF TECHNOLOGY', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('SCHOOLS OF TECHNOLOGY', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sHIGH$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' REGIONAL', '')

# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.strip()

In [34]:
matches = [name for name in list(state_grads['District Name']) if name in list(state_fiscal['NAME'])]
matches.sort()
len(matches)

421

In [35]:
A = [name for name in list(state_grads['District Name']) if name not in list(state_fiscal['NAME'])]
A.sort()
A

['ABLE CHARTER ABLE LEARNING',
 'DAVIDSON',
 'DISCOVERY SCHOOLS OF TULSA',
 'ELDORADO',
 'GAGE',
 'OKC CHARTER SANTA FE SOUTH',
 'OKC CHARTER: DOVE SCIENCE ACAD',
 'OKC CHARTER: HARDING CHARTER',
 'OKC CHARTER: HARDING FINE ARTS',
 'OKC CHARTER: HARPER ACADEMY',
 'OKC CHARTER: SANTA FE SOUTH HS',
 'OKC CHARTER: SEEWORTH ACADEMY',
 'OLUSTEE',
 'TULSA CHARTER: SCHL ARTS/SCI.']

In [36]:
B = [name for name in list(state_fiscal['NAME']) if name not in list(state_grads['District Name'])]
B.sort()
B

['CARLTON LANDING ACADEMY',
 'DOVE SCHOOLS OF TULSA',
 'DOVE SCIENCE ACADEMY (CHARTER)',
 'EPIC BLENDED LEARNING CHARTER',
 'HARDING (CHARTER)',
 'HARDING FINE ARTS (CHARTER)',
 'LAKESIDE SCHOOL',
 'OKLAHOMA SCHOOL FOR THE BLIND',
 'OKLAHOMA SCHOOL FOR THE DEAF',
 'OLUSTEE-ELDORADO',
 'SANTA FE SOUTH (CHARTER)',
 'SCHL ARTS/SCI (CHARTER)',
 'SEEWORTH ACADEMY (CHARTER)']

Make any additional matches I can find.

In [21]:
state_fiscal_rename = {
    'DOVE SCIENCE ACADEMY (CHARTER)' : 'OKC CHARTER: DOVE SCIENCE ACAD',
    'HARDING (CHARTER)' : 'OKC CHARTER: HARDING CHARTER',
    'HARDING FINE ARTS (CHARTER)' : 'OKC CHARTER: HARDING FINE ARTS',
    
}

In [22]:
state_fiscal = state_fiscal.replace(state_fiscal_rename)

Merge federal and state data, keeping only matches between the two.

In [23]:
state_grads_merged = pd.merge(state_fiscal, state_grads, how='inner', left_on='NAME', right_on='District Name')

Save cleaned data.

In [24]:
state_grads_merged.to_csv('../../data/state_data_merged/' + abbr + '.csv', index=False)