In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np

In [3]:
abbr = 'PA'

In [4]:
file = 'pennsylvania2018.xlsx'

Read in federal level data

In [5]:
fiscal = pd.read_sas('../../data/fiscal2018', format = 'sas7bdat', encoding='iso-8859-1')

Generate list of districts in the state in the federal data

In [6]:
state_fiscal = fiscal[(fiscal['STABBR'] == abbr) & (fiscal['GSHI'] == '12')]

In [7]:
len(state_fiscal)

683

Read in state level data

In [8]:
state_grads = pd.read_excel('../../data/state_data_raw/' + file, sheet_name='Grad Rate by LEA')

Reset columns.

In [9]:
state_grads.columns = state_grads.loc[1]
state_grads = state_grads.loc[2:]

In [10]:
state_grads.head()

1,NaN,LEA Type,AUN,LEA,Grads,Cohort,Cohort Grad Rate,Male Grad Rate,Female Grad Rate,AIAN Grad Rate,Native Hawaiian or Pacific Islander Grad Rate,Asian Grad Rate,Black Grad Rate,Hispanic Grad Rate,White Grad Rate,Multi-Racial Grad Rate,Special Ed Grad Rate,EL\nGrad Rate,Econ Disadv Grad Rate,Migrant Grad Rate
2,NaN,CS,124150002,21st Century Cyber CS,141,260,0.542308,0.466667,0.582353,NaN,NaN,1,0.416667,0.400000,0.558376,0.625000,0.416667,NaN,0.340909,NaN
3,NaN,CS,126514368,ACT Academy Cyber CS,7,37,0.189189,0.125000,0.238095,NaN,NaN,NaN,0.166667,0.333333,0.250000,NaN,0.300000,NaN,0.117647,NaN
4,NaN,CS,181519176,ASPIRA Bilingual Cyber Charter School,35,58,0.603448,0.520000,0.666667,NaN,NaN,1,0.777778,0.562500,NaN,NaN,0.650000,0.550000,0.600000,NaN
5,NaN,CS,125230001,Achievement House CS,76,144,0.527778,0.544118,0.513158,NaN,NaN,NaN,0.533333,0.259259,0.597561,0.800000,0.731707,0.285714,0.450549,NaN
6,NaN,CS,126510020,Agora Cyber CS,608,1249,0.486789,0.396040,0.572317,0.8,0.666667,0.8,0.432258,0.423077,0.510025,0.357143,0.425249,0.500000,0.495913,NaN

Filter results.

In [11]:
# state_grads = state_grads[(state_grads['Institution Level'] == 'District') &
#                          (state_grads['Student Group'] == 'All Students')]

Select and rename columns.

In [12]:
state_grads = state_grads[['LEA', 
                           'Cohort', 
                           'Cohort Grad Rate']]

In [13]:
state_grads.columns = ['District Name', 'Total', 'Graduation Rate']

In [14]:
state_grads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586 entries, 2 to 587
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   District Name    583 non-null    object
 1   Total            584 non-null    object
 2   Graduation Rate  584 non-null    object
dtypes: object(3)
memory usage: 13.9+ KB

Convert data types.

In [15]:
# state_grads['Graduation Rate'] = state_grads['Graduation Rate'].astype(str).str.replace('--', '')

In [16]:
state_grads['District Name'] = state_grads['District Name'].astype(str)
state_grads['Total'] = pd.to_numeric(state_grads['Total'])
state_grads['Graduation Rate'] = pd.to_numeric(state_grads['Graduation Rate'])

Check for matches and non-matches in the two lists.

In [17]:
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.upper().str.strip()
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.upper().str.strip()

In [18]:
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' SCHOOL DISTRICT', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace('SCH DIST', 'SCHOOL DISTRICT')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' CS', ' CHARTER SCHOOL')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sHIGH\sSCHOOL$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sSCHOOL$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' PUBLIC SCHOOLS', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' CO ', ' COUNTY ')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' BORO', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' CITY', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace('TWP', 'TOWNSHIP')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sREG(\s|$)', ' REGIONAL ')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sTOWN$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sTOWNSHIP$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sBORO$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sPUBLIC$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace('H.S DIST.', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'^N\s', 'NORTH ')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'^W\s', 'WEST ')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace("’", "'")
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' REGIONAL', '')

# state_grads['District Name'] = state_grads['District Name'].astype(str).str.strip()

# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' BOARD OF EDUCATION', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' VOCATIONAL TECHNICAL', ' VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' CITY', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' PUBLIC SCHOOLS', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' PUBLIC', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' SCHOOL DISTRICT', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sHIGH\sSCHOOL$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sSCHOOL$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sTOWNSHIP$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sTOWN$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sBOROUGH$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sBORO$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sDISTRICT$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('VOCATIONAL AND TECHNICAL', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('VOCATIONAL-TECHNICAL', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('TECHNICAL', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('INSTITUTE OF TECHNOLOGY', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('SCHOOLS OF TECHNOLOGY', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sHIGH$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' REGIONAL', '')

# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.strip()

In [19]:
matches = [name for name in list(state_grads['District Name']) if name in list(state_fiscal['NAME'])]
matches.sort()
len(matches)

571

In [20]:
A = [name for name in list(state_grads['District Name']) if name not in list(state_fiscal['NAME'])]
A.sort()
A

['Capital Area School for the Arts Charter',
 'Center for Student Learning CS at Pennsb',
 'Central PA Digital Learning Foundation C',
 'Charter High School for Architecture and',
 'Connellsville Area Career & Technical Ce',
 'Eastern University Academy Charter Schoo',
 'First Philadelphia Preparatory Charter S',
 'Hill House Passport Academy Charter Scho',
 'Lehigh Valley Charter High School for th',
 'Lincoln Leadership Academy Charter Schoo',
 'Preparatory CS of Mathematics Science Te',
 'The New Academy CS',
 'nan',
 'nan',
 'nan']

In [21]:
B = [name for name in list(state_fiscal['NAME']) if name not in list(state_grads['District Name'])]
B.sort()
B

['A W Beattie Career Center',
 'ARIN IU 28',
 'Academy CS',
 'Admiral Peary AVTS',
 'Allegheny IU 3',
 'Appalachia IU 8',
 'BLaST IU 17',
 'Beaver County CTC',
 'Beaver Valley IU 27',
 'Bedford County Technical Center',
 'Berks CTC',
 'Berks County IU 14',
 'Bethlehem AVTS',
 'Bryn Athyn SD',
 'Bucks County IU 22',
 'Butler County AVTS',
 'CTC of Lackawanna County',
 'Capital Area IU 15',
 'Capital Area School for the Arts Charter School',
 'Carbon-Lehigh IU 21',
 'Career Institute of Technology',
 'Center for Student Learning CS at Pennsbury',
 'Central IU 10',
 'Central Montco Technical High School',
 'Central PA Digital Learning Foundation CS',
 'Central PA Institute of Science & Technology',
 'Central Susquehanna IU 16',
 'Central Westmoreland CTC',
 'Charter High School for Architecture and Design',
 'Chester County IU 24',
 'Chester County Technical College High School',
 'Clarion County Career Center',
 'Clearfield County CTC',
 'Colonial IU 20',
 'Connellsville Area Career & Technical Center',
 'Crawford County CTC',
 'Cumberland Perry AVTS',
 'Danville Ctr Adolescent Female',
 'Delaware County IU 25',
 'Delaware County Technical High School',
 'Eastern Center for Arts & Technology',
 'Eastern University Academy Charter School',
 'Eastern Westmoreland CTC',
 'Erie County Technical School',
 'Fayette County Career & Technical Institute',
 'First Philadelphia Preparatory Charter School',
 'Forbes Road CTC',
 'Franklin County CTC',
 'Fulton County AVTS',
 'Greater Altoona CTC',
 'Greater Johnstown CTC',
 'Greene County CTC',
 'Hazleton Area Career Center',
 'Hill House Passport Academy Charter School',
 'Huntingdon County CTC',
 'Indiana County Technology Center',
 'Intermediate Unit 1',
 'Keystone Central CTC',
 'Lancaster County CTC',
 'Lancaster-Lebanon IU 13',
 'Lebanon County CTC',
 'Lehigh Career & Technical Institute',
 'Lehigh Valley Charter High School for the Arts',
 'Lincoln IU 12',
 'Lincoln Leadership Academy Charter School',
 'Loysville Youth Dev Ctr',
 'Luzerne IU 18',
 'Lycoming CTC',
 'McKeesport Area Tech Ctr',
 'Mercer County Career Center',
 'Middle Bucks Institute of Technology',
 'Midland Borough SD',
 'Midwestern IU 4',
 'Mifflin County Academy of Science and Technology',
 'Mon Valley CTC',
 'Monroe Career & Tech Inst',
 'Montgomery County IU 23',
 'North Central Secure Trmnt Unt',
 'North Montco Tech Career Center',
 'Northeastern Educational IU 19',
 'Northern Tier Career Center',
 'Northern Westmoreland CTC',
 'Northumberland County CTC',
 'Northwest Tri-County IU 5',
 'Parkway West CTC',
 'People for People CS',
 'Philadelphia IU 26',
 'Pittsburgh-Mt Oliver IU 2',
 'Preparatory CS of Mathematics Science Tech and Careers',
 'Reading Muhlenberg CTC',
 'Riverview IU 6',
 'Robert Benjamin Wiley Community CS',
 'SUN Area Technical Institute',
 'Schuylkill IU 29',
 'Schuylkill Technology Centers',
 'Seneca Highlands Career and Technical Center',
 'Seneca Highlands IU 9',
 'Somerset County Technology Center',
 'South Mountain Secure Trmnt Unit',
 'Steel Center for Career and Technical Education',
 'Susquehanna County CTC',
 'Tuscarora IU 11',
 'Upper Bucks County Technical School',
 'Venango Technology Center',
 'Warren County AVTS',
 'Western Area CTC',
 'Western Montgomery CTC',
 'Westmoreland IU 7',
 'Wilkes-Barre Area CTC',
 'Wilkinsburg Borough SD',
 'Youth Forestry Camp #2',
 'Youth Forestry Camp #3']

Make any additional matches I can find.

In [22]:
state_grads_rename = {
    'Capital Area School for the Arts Charter' : 'Capital Area School for the Arts Charter School',
    'Center for Student Learning CS at Pennsb' : 'Center for Student Learning CS at Pennsbury',
    'Central PA Digital Learning Foundation C' : 'Central PA Digital Learning Foundation CS',
    'Charter High School for Architecture and' : 'Charter High School for Architecture and Design',
    'Connellsville Area Career & Technical Ce' : 'Connellsville Area Career & Technical Center',
    'Eastern University Academy Charter Schoo' : 'Eastern University Academy Charter School',
    'First Philadelphia Preparatory Charter S' : 'First Philadelphia Preparatory Charter School',
    'Hill House Passport Academy Charter Scho' : 'Hill House Passport Academy Charter School',
    'Lehigh Valley Charter High School for th' : 'Lehigh Valley Charter High School for the Arts',
    'Lincoln Leadership Academy Charter Schoo' : 'Lincoln Leadership Academy Charter School',
    'Preparatory CS of Mathematics Science Te' : 'Preparatory CS of Mathematics Science Tech and Careers'
}

In [23]:
state_grads = state_grads.replace(state_grads_rename)

Merge federal and state data, keeping only matches between the two.

In [24]:
state_grads_merged = pd.merge(state_fiscal, state_grads, how='inner', left_on='NAME', right_on='District Name')

Save cleaned data.

In [25]:
state_grads_merged.to_csv('../../data/state_data_merged/' + abbr + '.csv', index=False)