In [2]:
import pandas as pd

In [3]:
geo_df = pd.read_csv('../data/directory.csv')

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (11,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
geo_df = geo_df[['LEAID', 'MZIP']]
geo_df

         LEAID   MZIP
0       100002  36057
1       100005  35950
2       100006  35976
3       100007  35243
4       100008  35758
...        ...    ...
18837  6000030  96799
18838  6600002  96913
18839  7200030    919
18840  7800002    820
18841  7800030    802

[18842 rows x 2 columns]

In [5]:
df = pd.read_csv('../data/dataset.csv')

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
df = df[['LEAID', 'NAME', 'Graduation Rate']]
df

         LEAID                  NAME  Graduation Rate
0      2700001    MOUNTAIN IRON-BUHL           0.9355
1      2700005  UNITED SOUTH CENTRAL           0.8810
2      2700006           MAPLE RIVER           0.9747
3      2700007             KINGSLAND           0.9677
4      2700008       ST LOUIS COUNTY           0.8607
...        ...                   ...              ...
11446  4033390             YARBROUGH           1.0000
11447  4033480                 YUKON           0.9200
11448  4033601            ROCK CREEK           0.9000
11449  4033602     FORT COBB-BROXTON           0.8000
11450  4033603           BINGER-ONEY           0.8000

[11451 rows x 3 columns]

In [11]:
geo_grads = pd.merge(df, geo_df, on='LEAID')

In [12]:
geo_grads.to_csv('../data/grad_rate_by_zip.csv')